html {
    scroll-behavior: smooth;
}
.scroll-button {
    display: none;
    position: fixed;
    top: 85%;
    right: 30px;
}
/* Header */
.header {
    background-color: #000000;
    opacity: 0.75;
    height: 60px;
}
.header-animation {
    animation: header-animation 1s ease-in-out forwards;
}
@keyframes header-animation {
    0% {
        top: -60px;
    }
    25% {
        top: -40px;
    }
    50%{
        top: -20px;
    }
    100% {
        top: 0;
        position: sticky;
        z-index: 1000;
    }
}
.header-navigation {
    margin-right: 20%;
    margin-left: 20%;
    display: flex;
    justify-content: space-between;
}
.nav-bar {
    display: flex;
    color: #ffffff;
    text-decoration: none;
}
.navigation-link {
    display: flex;
    align-items: center;
    text-align: center;
}
.navigation-link a{
    color: #ffffff;
    text-decoration: none;
    padding: 20px;
}
.dropodwn-child {
    display: none;
    position: absolute;
    top: 50px;
    background-color: #000000;
    opacity: 0.75;
    max-width: 200px;
}
.dropodwn-child a {
    color: #ffffff;
    padding: 20px;
    text-decoration: none;
    display: block;
}
.dropodown:hover .dropodwn-child {
    display: block;
}
.main-information {
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
}

.subnews,
.contact-info,
.what-we-are-doing-subtitle,
.strotegy {
    text-transform: uppercase;
}
.subnews>hr,
.contact-info > hr,
.what-we-are-doing-subtitle > hr,
.strotegy > hr {
    margin-left: 0;
    width: 35px;
    color:  #ff0000;
    border-color: #ff0000;
}
.news-link {
    text-decoration: none;
    color: #000000;
}
.what-we-are-doing-image-and-description {
    display: flex;
}
.scroll-button {
    display: none;
    position: fixed;
    top: 85%;
    right: 30px;
}

.list-of-letters {
    height: 870px;
    width: 737px;
}
.first-line, .second-line {
    display: flex;
}

.display-center-letter-wrapper1,
.display-center-letter-wrapper2,
.display-center-letter-wrapper3,
.display-center-letter-wrapper4,
.display-center-letter-wrapper5,
.display-center-letter-wrapper6,
.display-center-letter-wrapper7,
.display-center-letter-wrapper8 {
    position: fixed;
    top: 200px;
    left: 600px;
    z-index: 999;
    display: none;
}
/* Footer */
footer{
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 100px;
    margin-bottom: 0 !important;
    background-color: #111111;
    margin: 0;
    color: #fff;
}
.contact-information {
    margin-left: 20%;
    margin-right: 20%;
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-gap: 15px;
}
.requisites-title-line,
.short-information-title-line {
    color: #ff0000 !important;
    border-color: #ff0000 !important;
    width: 35px;
    margin-left: 0;
}
.requisites-text-line,
.short-information-list-line {
    color: #ff0000 !important;
    border-color: #ff0000 !important;
}
/* Not footer */