{% extends 'index.html' %}
{% load static %}
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Last-Modified" content="Sat, 5 Dec 2020 22:37:54 GMT">
    <link rel="stylesheet" href="{% static 'styles/SubPagesCss/buildingSurvey.css' %}">
    <link rel="stylesheet" href="{% static 'styles/HeaderAndFooterModule.css' %}">
    <script src="{% static 'js/Modules/headerScrollAndPopupModule.js' %}" defer></script>
    <script src="{% static 'js/Modules/sliderUltraModule.js' %}" defer></script>
    <title>ООО "ДМУ" | {% block title %}Обследование зданий{% endblock title %}</title>
</head>
{% endblock head %}
<body>

    <!-- Header -->
{% block content %}
    <section class="intro">
        <div class="main-main-title-of-page">
            <h1 class="title-of-page">Обследовнаие зданий</h1>
            <p class="subtitle"></p>
        </div>
    </section>
    <main>
        <section class="main-section">
            <aside class="list-of-services">
                <a href="{% url 'roads' %}" class="link">Проетировние и сторительство дорог</a>
                <a href="{% url 'buildings' %}" class="link">Проектировние и строительство зданий</a>
                <a href="{% url 'funcTD' %}" class="link">Функции техзаказчика</a>
                <a href="{% url 'buildingSurvey' %}" class="current-link">Обследовнаие зданмий</a>
            </aside>
            <section class="main-info">
                <h3 class="main-info-title">Обследование зданий
                    <hr>
                </h3>
                <div class="wrapper">
                    <div class="slider-container">
                        <div class="slider-track">
                            <div class="slider-item"></div>
                            <div class="slider-item"></div>
                            <div class="slider-item"></div>
                            <div class="slider-item"></div>
                            <div class="slider-item"></div>
                            <div class="slider-item"></div>
                            <div class="slider-item"></div>
                            <div class="slider-item"></div>
                            <div class="slider-item"></div>
                        </div>
                    </div>
                    <div class="slider-buttons">
                        <a id="left-button-control" class="slider__control" role="button"></a>
                        <a id="right-button-control" class="slider__control" role="button"></a>
                    </div>
                </div>
                <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate magni
                    repellendus, nesciunt asperiores totam molestiae accusantium maiores error, nam consequuntur nisi
                    reiciendis, hic eum? Beatae, accusantium quidem! Enim, nam dolorem.</p>
                <p class="description">Aut velit quidem, eum quae ipsa harum nihil in iste, veritatis quasi pariatur non
                    tempore quas, vel tenetur reprehenderit nisi nesciunt commodi? Minus fuga inventore quas ipsum harum
                    ut nesciunt.</p>
                <p class="description">Ducimus impedit quas quis nemo cum at, amet eum eaque ipsum reiciendis fugiat
                    natus similique maxime. Libero necessitatibus tempora laborum, optio molestias earum quia. Officia
                    impedit sunt beatae at minima.</p>
                <p class="description">Corrupti pariatur nulla, a alias enim quo eos! Veritatis ad quod eligendi aliquid
                    possimus? Sequi, veniam id deserunt ipsam nobis voluptates inventore, minima animi similique ut
                    autem provident sint officiis?</p>
            </section>
        </section>
    </main>
{% endblock content %}