{% extends 'index.html' %}
{% load static %}
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Last-Modified" content="Sat, 5 Dec 2020 22:37:54 GMT">
    <link rel="stylesheet" href="{% static 'styles/SubPagesCss/buildings.css' %}">
    <link rel="stylesheet" href="{% static 'styles/HeaderAndFooterModule.css' %}">
    <script src="{% static 'js/Modules/headerScrollAndPopupModule.js' %}" defer></script>
    <script src="{% static 'js/Modules/sliderUltraModule.js' %}" defer></script>
    <title>ООО "ДМУ" | {% block title %}Проектирование и строительство зданий{% endblock title %}</title>
</head>
{% endblock head %}
<body>
    
    <!-- Header -->
{% block content %}
    <section class="intro">
        <div class="main-main-title-of-page">
            <h1 class="title-of-page">Проектирование и строительство зданий</h1>
            <p class="subtitle"></p>
        </div>
    </section>
    <main>
        <section class="main-section">
            <aside class="list-of-services">
                <a href="{% url 'roads' %}" class="link">Проетировние и сторительство дорог</a>
                <a href="{% url 'buildings' %}" class="current-link">Проектировние и строительство зданий</a>
                <a href="{% url 'funcTD' %}" class="link">Функции техзаказчика</a>
                <a href="{% url 'buildingSurvey' %}" class="link">Обследовнаие зданмий</a>
            </aside>
            <section class="main-info">
                <h3 class="main-info-title">Проектирование и строительство дорог<hr></h3>
                <div class="wrapper">
                    <div class="slider-container">
                        <div class="slider-track">
                            <div class="slider-item"></div>
                            <div class="slider-item"></div>
                            <div class="slider-item"></div>
                            <div class="slider-item"></div>
                            <div class="slider-item"></div>
                            <div class="slider-item"></div>
                            <div class="slider-item"></div>
                            <div class="slider-item"></div>
                            <div class="slider-item"></div>
                        </div>
                    </div>
                    <div class="slider-buttons">
                        <a id="left-button-control" class="slider__control" role="button"></a>
                        <a id="right-button-control" class="slider__control" role="button"></a>
                    </div>
                </div>
                <p class="description">Проектирование зданий архитектором – процесс, сочетающий в себе как творческое начало, так и ремесленные навыки. Здания невозможно было бы построить без знания ремесла, а без художественной идеи они превратились бы в серые невыразительные коробки.</p>
                <p class="description">Процесс проектирования начинается с выяснения потенциальных возможностей участка, выбранного для будущего строительства, анализа существующего положения. При проведении расчетов учитываются множество факторов, важнейшими из которых являются видовые характеристики, рельеф, транспортная доступность, инсоляция, наличие существующих инженерных коммуникаций, зеленых насаждений.</p>
                <p class="description">Ducimus impedit quas quis nemo cum at, amet eum eaque ipsum reiciendis fugiat natus similique maxime. Libero necessitatibus tempora laborum, optio molestias earum quia. Officia impedit sunt beatae at minima.</p>
                <p class="description">После этого, согласно заданию Заказчика, определяется пятно застройки с учетом влияния вышеперечисленных факторов. Поэтажные планы разрабатываются в тесном взаимодействии с конструкторами, специалистами по пожарной безопасности, технологии, вентиляции, водоснабжения, канализации, теплоснабжения, электрификации и многих других смежных профессий, связанных со строительством. При этом основная задача архитектора состоит не только в том, чтобы гармонично связать смежные разделы, но и в том, чтобы решения, принятые специалистами различных строительных профессий, не противоречили основной идее образа будущего здания.</p>
            </section>
        </section>
    </main>
{% endblock content %}