{% extends 'index.html' %}
{% load static %}
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Last-Modified" content="Sat, 5 Dec 2020 22:37:54 GMT">
    <link rel="stylesheet" href="{% static 'styles/SubPagesCss/funcTD.css' %}">
    <link rel="stylesheet" href="{% static 'styles/HeaderAndFooterModule.css' %}">
    <link rel="icon" href="{% static 'images/icon.png' %}">
    <script src="{% static 'js/Modules/headerScrollAndPopupModule.js' %}" defer></script>
    <script src="{% static 'js/Modules/sliderUltraModule.js' %}" defer></script>
    <title>ООО "ДМУ" | {% block title %}Функции техзаказчика{% endblock title %}</title>
</head>
{% endblock head %}
<>

    <!-- Header -->
{% block content %}
    <section class="intro">
        <div class="main-main-title-of-page">
            <h1 class="title-of-page">Функции техзазчика</h1>
            <p class="subtitle"></p>
        </div>
    </section>
    <main>
        <section class="main-section">
            <aside class="list-of-services">
                <a href="{% url 'roads' %}" class="link">Строительство дорог и искусственных сооружений</a>
                <a href="{% url 'funcTD' %}" class="current-link">Функции техзаказчика</a>
            </aside>
            <section class="main-info">
                <h3 class="main-info-title">Функции техзаказчика
                    <hr>
                </h3>
                <div class="wrapper">
                    <div class="slider-container">
                        <div class="slider-track">
                            <div class="slider-item"><img class="sliderImg" src="{% static 'images/static_images/2rabotnika.png' %}" width="960px" height="540px"></div>
                            <div class="slider-item"><img class="sliderImg" src="{% static 'images/static_images/traktor.jpeg' %}" width="960px" height="540px"></div>
                            <div class="slider-item"><img class="sliderImg" src="{% static 'images/static_images/kamaz4.png' %}" width="960px" height="540px"></div>
                        </div>
                    </div>
                    <div class="slider-buttons">
                        <a id="left-button-control" class="slider__control" role="button"></a>
                        <a id="right-button-control" class="slider__control" role="button"></a>
                    </div>
                </div>
                <p class="description">Выполняя функции Технического заказчика, ООО "ДМУ" предоставляет Инвестору полный комплекс инжиниринговых услуг в строительстве от разработки проектной документации до сдачи построенного объекта в эксплуатацию.</p>
                <p class="description">Благодаря современной структуре управления, мы успешно реализуем инвестиционные проекты в оговоренные сроки.</p>
                <p class="description"><h3>Задача.</h3> Организовать взаимодействие всех участников проекта (Инвестор, Проектировщик, Подрядчик, согласующие организации и т.д.) и сдать построенный объект в сроки, утвержденные проектной документацией, действующими строительными нормами и регламентами.</p>
                <p class="description"><h3>Основные этапы:</h3>
Экспертная оценка земельного участка отведенного под строительство.<br><br>
Сопровождение разработки и согласования предпроектной документации.<br><br>
Содействие в оформлении и переоформлении земельно-правовых отношений.<br><br>
Заказ исходных данных для проектирования.<br><br>
Получение и оптимизация технических условий на присоединение к городским инженерным сетям.<br><br>
Получение и оптимизация Градостроительного плана земельного участка.<br><br>
Сопровождение выпуска распорядительного документа Правительства Москвы о проектировании и строительстве объекта.
Выбор генеральной проектной организации.<br><br>
Сопровождение разработки и согласования проектной документации.<br><br>
Сопровождение экспертизы проекта и оформления разрешения на строительство.<br><br>
Подбор генеральной подрядной организации.<br><br>
Координация ведения строительно-монтажных работ.<br><br>
Технический надзор за выполнением строительно-монтажных работ.<br><br>
Организация работы по оформлению заключения о соответствии построенного объекта.<br><br>
Получение разрешения на ввод объекта в эксплуатацию.</p><br>
            </section>
        </section>
    </main>
{% endblock content %}

