{% extends 'index.html' %}
{% load static %}
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/styles/aboutCompanyStyle.css"><!--{% static 'styles/aboutCompanyStyle.css' %}-->
    <link rel="stylesheet" href="../../static/styles/HeaderAndFooterModul.css">
    <script src="{% static 'js/ModulOfFunc.js' %}" defer></script>
    <script src="{% static 'js/aboutCompany.js' %}" defer></script>
    <title>{% block title %}О компнаии{% endblock title %}</title>
</head>
{% endblock head %}
<body>
    
    <!-- маркер для вставки шапки сайта -->

    <button class="scroll-button">Прокрутка наверх</button>
{% block content %}
    <main>
        <div class="intro">
            <div class="main-main-title-of-page">
                <h1 class="title-of-page">О компании</h1>
                <p class="subtitle">Полный штат специалистов по всем разделам</p>
            </div>
        </div>
        <div class="main-information">
            <div class="sidebar">
                <form action="" class="serch-form" action="{% url 'index' %}">
                    <input type="text" class="input-text" placeholder="Поиск..." name="search">
                    <!-- иконка лупы должна менять цвет при наведении -->
                    <button type="submit" class="search-btn-icon"><img src="../images/search-icon.svg" class="icon-search" alt="search-icon"></button>
                </form>
                <h3 class="subnews">Новости<hr></h3>
                <ul>

                    {% for a in latest_news_list %}
                    <li class="news-list-item"><a href="#" class="news-link">{{ a.title }}</a></li>
                    {% endfor %}

                </ul>
                <div class="contacts-info">
                    <h3 class="contact-info">Контактная информация<hr></h3>
                    <ul class="contacts-list">
                        <li class="contacts-list__element"> 123007, г.Москва, 4-я Магистральная ул., д.7, стр.1</li>
                        <li class="contacts-list__element"> +7(495)662-94-93</li>
                        <li class="contacts-list__element"><a href="#" class="link-to-email">info@gk-gorka.ru</a></li>
                        <li class="contacts-list__element">Пн. - Пт.: 9:00 - 18:00</li>
                        <li class="contacts-list__element">	199178, г. Санкт-Петербург, 17-я линия Васильевского острова, 22. Бизнес-центр "Сенатор"</li>
                        <li class="contacts-list__element">	+7(812)449-47-81</li>
                        <li class="contacts-list__element">Пн. - Пт.: 9:00 - 18:00</li>
                    </ul>
                </div>
            </div>
            <div class="what-we-are-doing">
                <div class="what-we-are-doing-image-and-description">
                    <img src="" alt="company" class="working-proces-img">
                    <div class="what-we-are-doing-description">
                        <h3 class="what-we-are-doing-subtitle">Чем мы занимаемся<hr></h3>
                        <p>{{ DATA.ABOUT_WORK1 }}</p>
                        <p>{{ DATA.ABOUT_WORK2 }}</p>
                        <p>{{ DATA.ABOUT_WORK3 }}</p>
                    </div>
                </div>
                <h3 class="strotegy">Наша стратегия<hr></h3>
                <div class="motto">
                    <h4 class="motto-title">1 - Качество</h4>
                    <p class="motto-text">{{ DATA.ABOUT_STRATEGY1 }}</p>
                </div>
                <div class="motto">
                    <h4 class="motto-title">2 - Честность</h4>
                    <p class="motto-text">{{ DATA.ABOUT_STRATEGY2 }}</p>
                </div>
                <div class="motto">
                    <h4 class="motto-title">3 - Безопастеость</h4>
                    <p class="motto-text">{{ DATA.ABOUT_STRATEGY3 }}</p>
                </div>
                <div class="motto">
                    <h4 class="motto-title">4 - Надёжность</h4>
                    <p class="motto-text">{{ DATA.ABOUT_STRATEGY4 }}</p>
                </div>
                <div class="motto">
                    <h4 class="motto-title">5 - Профессионализм</h4>
                    <p class="motto-text">{{ DATA.ABOUT_STRATEGY5 }}</p>
                </div>
                <div class="thanksgiving-letters">
                    <h3 class="thanksgiving-letters-title">Благодарственные письма клиентов</h3>
                    <hr class="letters__line">
                    <div class="list-of-letters">
                        
                        <div class="first-line">
                            
                            <div class="letter-wrapper1">
                                <img src="" alt="letter1" class="letter1 "> <div class="center1">
                                    <div class="display-center-letter-wrapper1">
                                        <img src="" alt="letter1">
                                        <button class="btnPrev1">Назад</button>
                                        <button class="btnNext1">Вперёд</button>
                                    </div>
                                </div>
                                
                            </div>
                            
                            <div class="letter-wrapper2">
                                <img src="" alt="letter2" class="letter2 ">
                                <div class="center1">
                                    <div class="display-center-letter-wrapper2">
                                        <img src="" alt="letter2" class="letter2 ">
                                        <button class="btnPrev1">Назад</button>
                                        <button class="btnNext1">Вперёд</button>
                                    </div>
                                </div>
                                
                            </div>
                            
                            <div class="letter-wrapper3">
                                <img src="" alt="letter3" class="letter3 ">
                                <div class="center1">
                                    <div class="display-center-letter-wrapper3">
                                        <img src="" alt="letter3" class="letter3 ">
                                        <button class="btnPrev1">Назад</button>
                                        <button class="btnNext1">Вперёд</button>
                                    </div>
                                </div>
                                
                            </div>
                            
                            <div class="letter-wrapper4">
                                <img src="" alt="letter4" class="letter4 ">
                                <div class="center1">
                                    <div class="display-center-letter-wrapper4">
                                        <img src="" alt="letter4" class="letter4">
                                        <button class="btnPrev1">Назад</button>
                                        <button class="btnNext1">Вперёд</button>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        
                        <hr class="letters__line">

                        <div class="second-line">
                            <div class="letter-wrapper5">
                                <img src="" alt="letter5" class="letter5 ">
                                <div class="center2">
                                    <div class="display-center-letter-wrapper5">
                                        <img src="" alt="letter5">
                                        <button class="btnPrev2">Назад</button>
                                        <button class="btnNext2">Вперёд</button>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="letter-wrapper6">
                                <img src="" alt="letter6" class="letter6 ">
                                <div class="center2">
                                    <div class="display-center-letter-wrapper6">
                                        <img src="" alt="letter6" class="letter6 ">
                                        <button class="btnPrev2">Назад</button>
                                        <button class="btnNext2">Вперёд</button>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="letter-wrapper7">
                                <img src="" alt="letter7" class="letter7 ">
                                <div class="center2">
                                    <div class="display-center-letter-wrapper7">
                                        <img src="" alt="letter7" class="letter7 ">
                                        <button class="btnPrev2">Назад</button>
                                        <button class="btnNext2">Вперёд</button>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="letter-wrapper8">
                                <img src="" alt="letter8" class="letter8 ">
                                <div class="center2">
                                    <div class="display-center-letter-wrapper8">
                                        <img src="" alt="letter8" class="letter8">
                                        <button class="btnPrev2">Назад</button>
                                        <button class="btnNext2">Вперёд</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}