{% extends 'index.html' %}
{% load static %}
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Last-Modified" content="Sat, 5 Dec 2020 22:37:54 GMT">
    <link rel="stylesheet" href="{% static 'styles/aboutCompanyStyle.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'styles/HeaderAndFooterModule.css' %}"> -->

    <link rel="icon" href="{% static 'images/icon.png' %}">
    <script src="{% static 'dist/searchFromPageModule.js' %}" defer></script>
    <script src="{% static 'dist/headerScrollAndPopupModule.js' %}" defer></script>
    <!-- <script src="{% static 'js/Modules/headerScrollAndPopupModule.js' %}" defer></script>
    <script src="{% static 'js/Modules/searchFromPageModule.js' %}" defer></script> -->
    <title>{% block title %}О компнаии{% endblock title %}</title>
</head>
{% endblock head %}
<body>
    
    <!-- маркер для вставки шапки сайта -->

{% block content %}
    <main>
        <div class="intro">
            <div class="main-main-title-of-page">
                <h1 class="title-of-page">О компании</h1>
                <p class="subtitle">Полный штат специалистов по всем разделам</p>
            </div>
        </div>
        
        <div class="main-information">
            <div class="sidebar">
                <label>
                    <form class="search-form">
                        <input type="text" name="searchForm" placeholder="Поиск" class="get-search-from-page" autocomplete="off">
                        <button type="submit" class="btn-search"><img src="{% static 'images/loupeblack.svg' %}" alt="search-logo"
                                class="search-logo"></button>
                    </form>
                </label>
                <h3 class="subnews">Новости<hr></h3>
                <ul>

                    {% for a in latest_news_list %}
                    <li class="news-list-item"><a href="#" class="news-link">{{ a.title }}</a></li>
                    {% endfor %}

                </ul>
                <div class="contacts-info">
                    <h3 class="contact-info">Контактная информация<hr></h3>
                    <ul class="contacts-list">
                        <li class="contacts-list__element">+7 (495) 663-51-37</li>
                        <li class="contacts-list__element">info@dmu.su</li>
                        <li class="contacts-list__element">Пн. - Пт.: 9:00 - 18:00</li>
                        <li class="contacts-list__element">Фактический адрес: <br> Москва, Маршала Прошлякова д.10 к.1</li>
                        <li class="contacts-list__element">Юридический адрес: <br> Московская обл., г. Люберцы, ул. Красная, д. 1 этаж / пом. / ком. 7/72/5</li>
                    </ul>
                </div>
            </div>
            <div class="what-we-are-doing">
                <div class="what-we-are-doing-image-and-description">
                    <img src="{% static 'images/hiddenlogo_black.png' %}" alt="company" height="400px" class="working-proces-img">
                    <div class="what-we-are-doing-description">
                        <h3 class="what-we-are-doing-subtitle">Чем мы занимаемся<hr></h3>
                        <p>ООО «ДМУ» успешно выполняет заказы по строительству, реконструкции и ремонту автомобильных дорог и искусственных сооружений, инженерных сетей.</p>
                        <p>Выполняет весь комплекс работ начиная с оформления разрешительной документации и до получения разрешения на ввод объекта в эксплуатацию с целью полной реализации инвестиционных проектов. Организация обладает всеми необходимыми ресурсами для выполнения услуг технического заказчика-застройщика.</p>
                    </div>
                </div>
                <h3 class="strotegy">Наша стратегия<hr></h3>
                <div class="motto">
                    <h4 class="motto-title">1 - Качество</h4>
                    <p class="motto-text">Качество каждого этапа строительства — это один из принципов нашей работы. От начала и до завершения строительства объекта, мы проходим несколько различных по сложности этапов, и на каждом из них мы всегда достигаем положительного результата.</p>
                </div>
                <div class="motto">
                    <h4 class="motto-title">2 - Честность</h4>
                    <p class="motto-text">Честность и верность данному слову — наш главный принцип. Мы анализируем все детали вашего проекта, от рациональности принятых строительных решений, до получения всех необходимых согласований и разрешений. Работая с нами Заказчик получает полную открытость и ясность. Все, о чем договорились — выполняем.</p>
                </div>
                <div class="motto">
                    <h4 class="motto-title">3 - Безопaснoсть</h4>
                    <p class="motto-text">В условиях стремительно меняющихся нормативов и правил мы всегда находим оптимальный путь. Четкое понимание как действовать, сформированное в начале и необходимая гибкость в ходе выполнения работ всегда приводят к намеченной цели.</p>
                </div>
                <div class="motto">
                    <h4 class="motto-title">4 - Надёжность</h4>
                    <p class="motto-text">Выполняя строительные работы мы не ограничиваемся выполнением чертежей. Сопровождать нашего Заказчика от получения разрешения на строительства до получения разрешения на ввод объекта в эксплуатацию, быть надежным партнером для Заказчка — вот наша основная цель.</p>
                </div>
                <div class="motto">
                    <h4 class="motto-title">5 - Профессионализм</h4>
                    <p class="motto-text">Видение пути решения и богатый опыт нашего взаимодействия с надзорными органами и государственными учреждениями различного уровня обеспечивают гарантированный положительный результат.</p>
                </div>

            </div>
        </div>
    </main>
{% endblock content %}