{% extends 'base.html' %}
{% load static %}
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <title>{% block title %}О компнаии{% endblock title %}</title>
</head>
<body>
{% endblock head %}
    <!-- маркер для вставки шапки сайта -->

{% block content %}
    <main>
        <div class="intro">
            <img src="" alt="background-image" class="background-image">
        <h1 class="title-of-page">О компании</h1>
        <p class="subtitle">Полный штат специалистов по всем разделам</p>
        </div>
        <div class="main-information">
            <div class="sidebar">
                <form action="" class="serch-form">
                    <input type="text" placeholder="Поиск...">
                    <button type="submit" class="search-btn-icon"><img src="" alt="search-icon"></button>
                </form>
                <h3 class="subnews">Новости<hr></h3>
                <ul>
                    <li class="news-list-item"><a href="{% url 'index' %}" class="news-link">Профессиональное признание!</a></li>
                    <li class="news-list-item"><a href="{% url 'index' %}" class="news-link">Реутов освободили от пробок</a></li>
                    <li class="news-list-item"><a href="{% url 'index' %}" class="news-link">Финальные испытания в Балашихе</a></li>
                    <li class="news-list-item"><a href="{% url 'index' %}" class="news-link">Превая свая г.Мытищи</a></li>
                </ul>
                <div class="contacts-info">
                    <h4 class="contact-info">Контактная информация<hr></h4>
                    <ul class="contacts-list">
                        <li class="contacts-list__element"> 123007, г.Москва, 4-я Магистральная ул., д.7, стр.1</li>
                        <li class="contacts-list__element"> +7(495)662-94-93</li>
                        <li class="contacts-list__element"> info@gk-gorka.ru</li>
                        <li class="contacts-list__element">Пн. - Пт.: 9:00 - 18:00</li>
                        <li class="contacts-list__element">	199178, г. Санкт-Петербург, 17-я линия Васильевского острова, 22. Бизнес-центр "Сенатор"</li>
                        <li class="contacts-list__element">	+7(812)449-47-81</li>
                        <li class="contacts-list__element">Пн. - Пт.: 9:00 - 18:00</li>
                    </ul>
                </div>
            </div>
            <div class="what-we-are-doing">
                <div class="what-we-are-doing-image-and-description">
                    <img src="" alt="company" class="working-proces-img">
                    <div class="what-we-are-doing-description">
                        <h3 class="what-we-are-doing-subtitle">Чем мы занимаемся<hr></h3>
                        <p>ABOUT_WORK1</p>
                        <p>ABOUT_WORK2</p>
                        <p>ABOUT_WORK3</p>
                    </div>
                </div>
                <h3 class="strotegy">Наша стратегия<hr></h3>
                <div class="motto">
                    <h4 class="motto-title">1 - Качество</h4>
                    <p class="motto-text">ABOUT_STRATEGY1</p>
                </div>
                <div class="motto">
                    <h4 class="motto-title">2 - Честность</h4>
                    <p class="motto-text">ABOUT_STRATEGY2</p>
                </div>
                <div class="motto">
                    <h4 class="motto-title">3 - Безопасноть</h4>
                    <p class="motto-text">ABOUT_STRATEGY3</p>
                </div>
                <div class="motto">
                    <h4 class="motto-title">4 - Надёжность</h4>
                    <p class="motto-text">ABOUT_STRATEGY4</p>
                </div>
                <div class="motto">
                    <h4 class="motto-title">5 - Профессионализм</h4>
                    <p class="motto-text">ABOUT_STRATEGY5</p>
                </div>
                <div class="thanksgiving-letters">
                    <h3 class="thanksgiving-letters-title">Благодарственные письма клиентов</h3>
                    <div class="list-of-letters">
                        <div class="first-line ">
                            <div class="letter-wrapper1">
                                <img src="../images/lettrs/c0b77faeb2cb3e67fd1b423c4535f6c3.jpg" alt="letter1" class="letter1 letter-onclick">
                                <div class="display-center-letter-wrapper1">
                                    <img src="../images/lettrs/c0b77faeb2cb3e67fd1b423c4535f6c3.jpg" alt="letter1" class="letteronclick">
                                    <button class="btnPrev1">Назад</button>
                                    <button class="btnNext1">Вперёд</button>
                                </div>
                            </div>
                            
                            <div class="letter-wrapper2">
                                <img src="../images/lettrs/index.jpg" alt="letter2" class="letter2 letter-onclick">
                                <div class="display-center-letter-wrapper2">
                                    <img src="../images/lettrs/index.jpg" alt="letter2" class="letter2 letter-onclick">
                                    <button class="btnPrev2">Назад</button>
                                    <button class="btnNext2">Вперёд</button>
                                </div>
                            </div>
                            
                            <div class="letter-wrapper3">
                                <img src="../images/lettrs/index34.jpg" alt="letter3" class="letter3 letter-onclick">
                                <div class="display-center-letter-wrapper3">
                                    <img src="../images/lettrs/index34.jpg" alt="letter3" class="letter3 letter-onclick">
                                    <button class="btnPrev3">Назад</button>
                                    <button class="btnNext3">Вперёд</button>
                                </div>
                            </div>
                            
                            <div class="letter-wrapper4">
                                <img src="../images/lettrs/index4.jpg" alt="letter4" class="letter4 letter-onclick">
                                <div class="display-center-letter-wrapper4">
                                    <img src="../images/lettrs/index4.jpg" alt="letter4" class="letter-onclick">
                                    <button class="btnPrev4">Назад</button>
                                    <button class="btnNext4">Вперёд</button>
                                </div>
                            </div>
                        </div>
                                        <!-- убрать класс letter letter-onclick -->
                        
                        <hr>

                        <div class="second-line">
                            <div class="letter-wrapper5">
                                <img src="../images/lettrs/c0b77faeb2cb3e67fd1b423c4535f6c3.jpg" alt="letter5" class="letter5 letter-onclick">
                                <div class="display-center-letter-wrapper5">
                                    <img src="../images/lettrs/c0b77faeb2cb3e67fd1b423c4535f6c3.jpg" alt="letter5" class="letter-onclick">
                                    <button class="btnPrev5">Назад</button>
                                    <button class="btnNext5">Вперёд</button>
                                </div>
                            </div>
                            <div class="letter-wrapper6">
                                <img src="../images/lettrs/index.jpg" alt="letter6" class="letter6 letter-onclick">
                                <div class="display-center-letter-wrapper6">
                                    <img src="../images/lettrs/index.jpg" alt="" class="letter-onclick">
                                    <button class="btnPrev6">Назад</button>
                                    <button class="btnNext6">Вперёд</button>
                                </div>
                            </div>
                            <div class="letter-wrapper7">
                                <img src="../images/lettrs/index34.jpg" alt="letter7" class="letter7 letter-onclick">
                                <div class="display-center-letter-wrapper7">
                                    <img src="../images/lettrs/index34.jpg" alt="" class="letter-onclick">
                                    <button class="btnPrev7">Назад</button>
                                    <button class="btnNext7">Вперёд</button>
                                </div>
                            </div>
                            <div class="letter-wrapper8">
                                <img src="../images/lettrs/index4.jpg" alt="letter8" class="letter8 letter-onclick">
                                <div class="display-center-letter-wrapper8">
                                    <img src="../images/lettrs/index4.jpg" alt="" class="letter-onclick">
                                    <button class="btnPrev8">Назад</button>
                                    <button class="btnNext8">Вперёд</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}
    <!-- маркер для футера -->
    
    <script src="{% static '/js/promis.js' %}"></script>

