{% extends 'index.html' %}
{% load static %}
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Last-Modified" content="Sat, 5 Dec 2020 22:37:54 GMT">
    <link rel="stylesheet" href="{% static 'styles/career.css' %}">
    <link rel="stylesheet" href="{% static 'styles/HeaderAndFooterModule.css' %}">
    <link rel="icon" href="{% static 'images/icon.png' %}">
    <script src="{% static 'dist/careerPage.js' %}" defer></script>
    <script src="{% static 'dist/searchFromPageModule.js' %}" defer></script>
    <script src="{% static 'dist/headerScrollAndPopupModule.js' %}" defer></script>
    <title>ООО "ДМУ" | {% block title %}Карьера{% endblock title %}</title>
</head>
{% endblock head %}
<body>
{% block content %}
    <section class="intro">
        <div class="main-main-title-of-page">
            <h1 class="title-of-page">Карьера</h1>
            <p class="subtitle">Актуальные вакансии компании</p>
        </div>
    </section>
    <main>
        <section class="info-of-info">
            <aside class="aside">
                <section class="news">
                    
                    <div class="news-block">
                        <label>
                            <form class="search-form">
                                <input type="text" placeholder="Поиск" class="get-search-from-page">
                                <button type="submit" class="btn-search"><img src="{% static 'images/loupeblack.svg' %}" alt="search-logo"
                                        class="search-logo"></button>
                            </form>
                        </label>
                        <h3 class="newstitle">Новости<hr></h3>
                        <ul class="news-list">

                            {% for a in latest_news_list %}
                            <li class="news-link">{{ a.title }}</li>
                            {% endfor %}

                        </ul>
                    </div>
                    <div class="contacts">
                        <h3 class="contact-block">Контактная информация<hr></h3>
                        <ul class="contacts-list">
                            <li class="contacts-list__element">+7 (495) 663-51-37</li><br>
                            <li class="contacts-list__element">info@dmu.su</li><br>
                            <li class="contacts-list__element">Пн. - Пт.: 9:00 - 18:00</li><br>
                            <li class="contacts-list__element">Фактический адрес: <br> Москва, Маршала Прошлякова д.10 к.1</li><br>
                            <li class="contacts-list__element">Юридический адрес: <br> Московская обл., г. Люберцы, ул. Красная, д. 1 этаж / пом. / ком. 7/72/5</li><br>
                        </ul>
                    </div>
                </section>
            </aside>
                <section class="main-and-form">
                    <section class="main-info">
                        <div class="interview">
                            <h2 class="main-info-title">Интервью с директором по персоналу ООО"ДМУ"<br> Новиковой Анастасией Сергеевной<hr></h2>
                            <img src="{% static 'images/black/dmu-carrier-vacancies.png' %}" alt="portret" class="main_photo">
                            <p class="paragraph">{{ DATA.CAREER_ABOUT1 }}</p>
                            <p class="paragraph">{{ DATA.CAREER_ABOUT2 }}</p>
                            <p class="paragraph">{{ DATA.CAREER_ABOUT3 }}</p>
                            <p class="paragraph">{{ DATA.CAREER_ABOUT4 }}</p>
                        </div>
                    </section>
                    <div class="form__wrapper">
                        <label>
                            <form name="formCareer" class="form">
                                {% csrf_token %}
                                <div class="fio">
                                    <div class="name">
                                        <input type="text" name="input-name" placeholder="Имя" class="name-input" autocomplete="off">
                                        <p class="wraning-name-text">Поле обязательно для заполенния</p>
                                    </div>
                                    <div class="father">
                                        <input type="text" name="input-father-name" placeholder="Отчество" class="father-input" autocomplete="off">
                                        <p class="warning-father-text">Поле обязательно для заполенния</p>
                                    </div>
                                    <div class="sername">
                                        <input type="text" name="sername-input" placeholder="Фамилия" class="sername-input" autocomplete="off">
                                        <p class="warning-sername-text">Поле обязательно для заполенния</p>
                                    </div>
                                </div>
                                <div class="phone-and-long">
                                    <div class="phone">
                                        <input type="text" name="phone-input" placeholder="Контактный номер телефона" class="phone-input"
                                            autocomplete="off">
                                        <p class="warning-phone-text">Поле обязательно для заполенния</p>
                                    </div>
                                    <div class="long">
                                        <input type="text" name="message-input" placeholder="Желаемая должность" class="message-input"
                                            autocomplete="off">
                                        <p class="warning-long-text">Поле обязательно для заполенния</p>
                                    </div>
                                </div>
                                <!-- <div class="file">
                                                            <input type="file" name="file-input" style="color: transparent;" class="file-input" required>
                                                            <p class="warning-file-text">Поле обязательно для заполенния</p>
                                                        </div> -->
                                <button type="submit" class="btn-submit">Отправить</button>
                            </form>
                        </label>
                        <div class="main-warning"><span>Одно или несколько полей содержит ошибочные данные. Пожалуйста, проверте их и попробуйте ещё раз.</span></div>
                    </div>
                </section>
        </section>
    </main>
{% endblock content %}
    <!-- Footer -->