{% extends 'index.html' %}
{% load static %}
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/career.css' %}">
    <link rel="stylesheet" href="{% static 'styles/HeaderAndFooterModul.css' %}">
    <script src="{% static 'js/ModulOfFunc.js' %}" defer></script>
    <script src="{% static 'js/career.js' %}" defer></script>
    <title>ООО "ДМУ" | {% block title %}Карьера{% endblock title %}</title>
</head>
{% endblock head %}
<body>
{% block content %}
    <section class="intro">
        <div class="main-main-title-of-page">
            <h1 class="title-of-page">Карьера</h1>
            <p class="subtitle">Актуальные вакансии компании</p>
        </div>
    </section>
    <main>
        <button class="scroll-button">прокрутка наверх</button>
        <section class="info-of-info">
            <aside class="aside">
                <section class="news">
                    <form class="search-form">
                        <input type="text" placeholder="Поиск" class="search-in-career">
                        <button type="submit" class="btn-search"><img src="../images/loupeblack.svg" alt="search-logo" class="search-logo"></button>
                    </form>
                    <div class="news-block">
                        <h3 class="newstitle">Новости<hr></h3>
                        <ul class="news-list">

                            {% for a in latest_news_list %}
                            <li class="news-link">{{ a.title }}</li>
                            {% endfor %}

                        </ul>
                    </div>
                    <div class="contacts">
                        <h3 class="contact-block">Контактная информация<hr></h3>
                        <ul class="contacts-list">
                            <li class="contact-link">123007, г.Москва, 4-я Магистральная ул., д.7, стр.1</li>
                            <li class="contact-link">+7(495)662-94-93</li>
                            <li class="contact-link">INFO@GK-GORKA.RU</li>
                            <li class="contact-link">Пн. - Пт.: 9:00 - 18:00</li>
                            <li class="contact-link">196191, г. Санкт-Петербург, пл. Конституции, д.3, корп. 2, этажи 9 и 10</li>
                            <li class="contact-link">+7(812)449-47-81</li>
                            <li class="contact-link">Пн. - Пт.: 9:00 - 18:00</li>
                        </ul>
                    </div>
                </section>
            </aside>
                <section class="main-and-form">
                    <section class="main-info">
                    <div class="interview">
                        <h2 class="main-info-title">Интервью с директором по персоналу группы компаний "ГОРКА"<br> Новиковой Анастасией Сергеевной<hr></h2>
                        <p class="paragraph">{{ DATA.CAREER_ABOUT1 }}</p>
                        <p class="paragraph">{{ DATA.CAREER_ABOUT2 }}</p>
                        <p class="paragraph">{{ DATA.CAREER_ABOUT3 }}</p>
                        <p class="paragraph">{{ DATA.CAREER_ABOUT4 }}</p>
                    </div>
                    <img src="" alt="portret" width="270px" height="270px">
                    </section>
                    <div class="form-wrapper">
                        <form name="formCareer" class="form">
                            {% csrf_token %}
                            <div class="fio"> 
                                <input type="hidden" class="token" name="csrftoken" value="4">
                                <div class="name">
                                    <input type="text" name="input-name" placeholder="Имя" class="name-input" >
                                    <p class="wraning-name-text">Поле обязательно для заполенния</p>
                                </div>
                                <div class="father">
                                    <input type="text" name="input-father-name" placeholder="Отчество" class="father-input">
                                    <p class="warning-father-text">Поле обязательно для заполенния</p>
                                </div>
                                <div class="sername">
                                    <input type="text" name="sername-input" placeholder="Фамилия" class="sername-input" >
                                    <p class="warning-sername-text">Поле обязательно для заполенния</p>
                                </div>
                            </div>
                            <div class="phone-and-long">
                                <div class="phone">
                                    <input type="text" name="phone-input" placeholder="Контактный номер телефона" class="phone-input" >
                                    <p class="warning-phone-text">Поле обязательно для заполенния</p>
                                </div>
                                <div class="long">
                                    <input type="text" name="message-input" placeholder="Желаемая должность" class="message-input" >
                                    <p class="warning-long-text">Поле обязательно для заполенния</p>
                                </div>
                            </div>
                            <!-- <div class="file">
                                <input type="file" name="file-input" style="color: transparent;" class="file-input" required>
                                <p class="warning-file-text">Поле обязательно для заполенния</p>
                            </div> -->
                            <button type="submit" class="btn-submit">Отправить</button>
                        </form>
                        <div class="main-warning"><span>Одно или несколько полей содержит ошибочные данные. Пожалуйста, проверте их и попробуйте ещё раз.</span></div>
                    </div>
                </section>
        </section>
    </main>
{% endblock content %}
    <!-- Footer -->