{% extends 'index.html' %}
{% load static %}
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Last-Modified" content="Sat, 5 Dec 2020 22:37:54 GMT">
    <link rel="icon" href="{% static 'images/icon.png' %}">
    <script src="{% static 'dist/headerScrollAndPopupModule.js' %}" defer></script>
    <script src="{% static 'dist/contactsPage.js' %}" defer></script>
    <title>ООО "ДМУ" | {% block title %}Контакты{% endblock title %}</title>
</head>
{% endblock head %}
<body>
    <!-- Header -->
{% block content %}
    <main>
        <section class="intro">
            <div class="main-main-title-of-page">
                <h1 class="title-of-page">Контакты</h1>
                <p class="subtitle">Наши контакты</p>
            </div>
        </section>
        <section class="form-and-adress">
            <article class="form-wrapper-article">
                <label>
                    <form class="form" name="contactForm">
                        {% csrf_token %}
                        <div class="form__name-and-phone-wrapper">
                            <div class="form__name-wrapper">
                                <input type="text" name="contact-form__name" class="from__input-name" placeholder="Имя" autocomplete="off">
                                <p class="form__warning">Поле обязательно для заполнеия.</p>
                            </div>
                            <div class="form__phone-wrapper">
                                <input type="number" name="contact-form__phone" class="form__input-phone" placeholder="Телефон" autocomplete="off">
                                <p class="form__warning">Поле обязательно для заполнеия.</p>
                            </div>
                        </div>
                        <div class="form__email-wrapper">
                            <input type="email" name="contact-form__email" class="form__input-email" placeholder="E-mail" autocomplete="off">
                            <p class="form__warning">Поле обязательно для заполнеия.</p>
                        </div>
                        <div class="form__message-wrapper">
                            <textarea type="text" name="contact-form__message" class="from__input-message" placeholder="Сообщение" autocomplete="off"></textarea>
                            <p class="form__warning">Поле обязательно для заполнеия.</p>
                        </div>
                        <button class="form__btn-submit" name="contact-form__btn-submit" type="submit">Отправить сообщение</button>
                    </form>
                </label>
                <div class="main-warn-wrapper">
                    <p class="main-warning-text">Одно или несколько полей содержат ошибочные данные. Пожалуйста, проверьте их и попробуйте ещё раз.</p>
                </div>
            </article>
            <aside class="vidjet-and-contacts">
                <article class="vidjet">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2243.155984909383!2d37.39139891620297!3d55.790529296548726!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b548a1476d6679%3A0x1f4b84caff97cb02!2z0YPQuy4g0JzQsNGA0YjQsNC70LAg0J_RgNC-0YjQu9GP0LrQvtCy0LAsIDEwINC60L7RgNC_0YPRgSAxLCDQnNC-0YHQutCy0LAsIE1vc2NvdyBPYmxhc3QsIDEyMzQ1OA!5e0!3m2!1sru!2sru!4v1615823933078!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </article>
                <article class="constacts">
                    <p class="contacts__title">Контактная информация</p>
                    <ul class="contacts__list">
                        <li class="contacts__item">Москва, Маршала Прошлякова д.10 к.1</li>
                        <li class="contacts__item">+7 (495) 663-51-37</li>
                        <li class="contacts__item"><a href="#" class="contacts__item__email-link">info@dmu.su</a></li>
                        <li class="contacts__item">Пн. - Пт.: 9:00 - 18:00</li>
                    </ul>
                </article>
            </aside>
        </section>
    </main>
{% endblock content %}