{% extends 'index.html' %}
{% load static %}
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Last-Modified" content="Sat, 5 Dec 2020 22:37:54 GMT">
    <link rel="stylesheet" href="{% static 'styles/contacts.css' %}">
    <link rel="stylesheet" href="{% static 'styles/HeaderAndFooterModul.css' %}">
    <script src="{% static 'js/ModulOfFunc.js' %}" defer></script>
    <script src="{% static 'js/contacts.js' %}" defer></script>
    <title>ООО "ДМУ" | {% block title %}Контакты{% endblock title %}</title>
</head>
{% endblock head %}
<body>
    <!-- Header -->
{% block content %}
    <main>
        <button class="scroll-button">Прокрутка наверх</button>
        <section class="intro">
            <div class="main-main-title-of-page">
                <h1 class="title-of-page">Контакты</h1>
                <p class="subtitle">Наши контакты</p>
            </div>
        </section>
        <section class="form-and-adress">
            <article class="form-wrapper-article">
                <form class="form" name="contactForm">
                    {% csrf_token %}
                    <div class="form__name-and-phone-wrapper">
                        <div class="form__name-wrapper">
                            <input type="text" name="contact-form__name" class="from__input-name" placeholder="Имя" autocomplete="off">
                            <p class="form__warning">Поле обязательно для заполнеия.</p>
                        </div>
                        <div class="form__phone-wrapper">
                            <input type="number" name="contact-form__phone" class="form__input-phone" placeholder="Телефон" autocomplete="off">
                            <p class="form__warning">Поле обязательно для заполнеия.</p>
                        </div>
                    </div>
                    <div class="form__email-wrapper">
                        <input type="email" name="contact-form__email" class="form__input-email" placeholder="E-mail" autocomplete="off">
                        <p class="form__warning">Поле обязательно для заполнеия.</p>
                    </div>
                    <div class="form__message-wrapper">
                        <textarea type="text" name="contact-form__message" class="from__input-message" placeholder="Сообщение" autocomplete="off"></textarea>
                        <p class="form__warning">Поле обязательно для заполнеия.</p>
                    </div>
                    <button class="form__btn-submit" name="contact-form__btn-submit" type="submit">Отправить сообщение</button>
                </form>
                <div class="main-warn-wrapper">
                    <p class="main-warning-text">Одно или несколько полей содержат ошибочные данные. Пожалуйста, проверьте их и попробуйте ещё раз.</p>
                </div>
            </article>
            <aside class="vidjet-and-contacts">
                <article class="vidjet">
                    <!-- Место для виджета -->
                </article>
                <article class="constacts">
                    <p class="contacts__title">Контактная информация</p>
                    <ul class="contacts__list">
                        <li class="contacts__item">Москва, Маршала Прошлякова д.10 к.1</li>
                        <li class="contacts__item">+7 (495) 663-51-37</li>
                        <li class="contacts__item"><a href="#" class="contacts__item__email-link">info@dmu.su</a></li>
                        <li class="contacts__item">Пн. - Пт.: 9:00 - 18:00</li>
                    </ul>
                </article>
            </aside>
        </section>
    </main>
{% endblock content %}