<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Last-Modified" content="Sat, 5 Dec 2020 22:37:54 GMT">
    <link rel="stylesheet" href="../../static/styles/HeaderAndFooterModul.css">
    <link rel="stylesheet" href="../../static/styles/currentProject.css">
    <link rel="stylesheet" href="../../static/styles/movingCards.css">
    <script src="../../static/js/movingCardsModul.js" defer></script>
    <script src="../../static/js/ModulOfFunc.js" defer></script>
    <script src="../../static/js/SubPagesJs/sliderUltra.js" defer></script>
    <title>Конкретный проект</title>
</head>
<body>
    <button class="scroll-button">Прокрутка наверх</button>
    <section class="intro">
        <div class="main-main-title-of-page">
            <h1 class="title-of-page">Проект</h1>
            <p class="subtitle"></p>
        </div>
    </section>
    <main class="page-wrapper">
        <section class="project-title">
            <div class="slider">
                <div class="slider__wrapper">
                    <div class="slider__item">
                        <div style="height: 250px; background: orange;">1</div>
                    </div>
                    <div class="slider__item">
                        <div style="height: 250px; background: green;">2</div>
                    </div>
                    <div class="slider__item">
                        <div style="height: 250px; background: violet;">3</div>
                    </div>
                    <div class="slider__item">
                        <div style="height: 250px; background: coral;">4</div>
                    </div>
                </div>
                <a class="slider__control slider__control_left" href="#" role="button"></a>
                <a class="slider__control slider__control_right slider__control_show" href="#" role="button"></a>
            </div>
            <div class="project-name">
                <p class="project-name__name">имя проекта</p>
                <p class="category">Категория: <br><span class="category__name">сама категория</span></p>
            </div>
        </section>
        <section class="project-description">
            <section class="project-description__descrition">

                <!-- TODO доделать, когда будет известно как будут рендериться эта страница -->

            </section>
            <section class="project-description__projects-slider">
               <!-- TODO вставть слайдер с первой страници -->
                
                <div class="selector-links">
                    <div class="all-photos">
                        <a class="links-toshow-imges holden__underline" id="link_all">Все</a>
                    </div>
                    <div class="roads">
                        <a class="links-toshow-imges child" id="link_roads">Дороги</a>
                    </div>
                    <div class="buildings">
                        <a class="links-toshow-imges child" id="link_buildings">Здания</a>
                    </div>
                </div>
                <!-- TODO доделать нормальое отображения слайдера -->
                <div class="moving-cards">
                    <div class="card1" data-id="for-all__cards" data-name="building" style="background-color: blanchedalmond;">
                        <!--<img src="" alt="card-img">-->
                    </div>
                    <div class="card2" data-id="for-all__cards" data-name="building" style="background-color: pink;">
                        <!--<img src="" alt="card-img">-->
                    </div>
                    <div class="card3" data-id="for-all__cards" data-name="building" style="background-color: green;">
                        <!--<img src="" alt="card-img">-->
                    </div>
                    <div class="card4" data-id="for-all__cards" data-name="building" style="background-color: yellow;">
                        <!--<img src="" alt="card-img">-->
                    </div>
                    <div class="card5" data-id="for-all__cards" data-name="building" style="background-color: blue;">
                        <!--<img src="" alt="card-img">-->
                    </div>
                    <div class="card6" data-id="for-all__cards" data-name="road" style="background-color: violet;">
                        <!--<img src="" alt="card-img">-->
                    </div>
                    <div class="card7" data-id="for-all__cards" data-name="road" style="background-color: black;">
                        <!--<img src="" alt="card-img">-->
                    </div>
                    <div class="card8" data-id="for-all__cards" data-name="building" style="background-color: red;">
                        <!--<img src="" alt="card-img">-->
                    </div>
                </div>
           </section>
           <section class="project-description__control-between-projects">
               <section class="control-between-projects__wrapper">
                   <div class="control-previous">
                        <a href="#" class="link-to-prev">
                            <p class="contool-link__title">Назад</p>
                            <p class="control-link__description">
                                БЛА БЛА БЛА НАЗАД
                            </p>
                        </a>
                   </div>
                   <div class="control-next">
                       <a href="#" class="link-to-next">
                           <p class="contool-link__title">Впереёд</p>
                           <p class="control-link__description">
                               БЛА БЛА БЛА ВПЕРЁД
                           </p>
                       </a>
                   </div>
               </section>
           </section>
        </section>
    </main>
</body>
</html>