{% extends 'index.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="ru">
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Last-Modified" content="Sat, 5 Dec 2020 22:37:54 GMT">
    <link rel="stylesheet" href="{% static 'styles/currentNew.css' %}">
    <link rel="icon" href="{% static 'images/icon.png' %}">
    <script src="{% static 'dist/headerScrollAndPopupModule.js' %}" defer></script>
    <script src="{% static 'dist/searchFromPageModule.js' %}" defer></script>
    <title>ООО ДМУ | {% block title %} {{ new.title }} {% endblock title %}</title>
</head>
{% endblock head %}
{% block content %}
    {% if new.image %}
    {% static "images/no_photo.jpg" as no_photo %}
    <section class="intro" style="background: url('{{ new.photo_url }}')">
    {% else %}
    <section class="intro">
    {% endif %}
        <div class="main-main-title-of-page">
            <h1 class="title-of-page">{{ new.title }}</h1>
            <p class="subtitle"></p>
        </div>
    </section>
    <main class="main-info">
        <aside class="aside">
            <section class="news">
                <label>
                    <form class="search-form">
                        <input type="text" placeholder="Поиск" class="get-search-from-page">
                        <button type="submit" class="btn-search"><img src="{% static 'images/loupeblack.svg' %}" alt="search-logo"
                                class="search-logo"></button>
                    </form>
                </label>
                <!-- <div class="news-block">
                    <h3 class="newstitle">Новости
                        <hr>
                    </h3>
                    <ul class="news-list">
        
                        {% for a in latest_news_list %}
                        <li class="news-link">{{ a.title }}</li>
                        {% endfor %}
        
                    </ul>
                </div> -->
                <!-- <div class="contacts">
                    <h3 class="contact-block">Контактная информация
                        <hr>
                    </h3>
                    <ul class="contacts-list">
                        <li class="contacts-list__element">+7 (495) 663-51-37</li><br>
                        <li class="contacts-list__element">info@dmu.su</li><br>
                        <li class="contacts-list__element">Пн. - Пт.: 9:00 - 18:00</li><br>
                        <li class="contacts-list__element">Фактический адрес: <br> Москва, Маршала Прошлякова д.10 к.1</li><br>
                        <li class="contacts-list__element">Юридический адрес: <br> Московская обл., г. Люберцы, ул. Красная, д.
                            1 этаж / пом. / ком. 7/72/5</li><br>
                    </ul>
                </div> -->
            </section>
        </aside>
        <section class="news-info">

            {% if new.image %}
            {% static "images/no_photo.jpg" as no_photo %}
            <!-- <img src="{{ new.photo_url }}" alt="portret" class="new__img" width="850px" height="auto"> -->
            {% endif %}
            <h3 class="new-title">{{ new.title }}</h3>
            
            
            {% if new.was_published_recently %}
            <h5 class="news-block__subtitle">Свежая новость!</h5>
            {% endif %}
            
            
            {% if new.text %}
            <p class="news-descritption">{{ new.text }}</p>
            {% endif %}
            
            
            {% if new.image2 %}
            {% static "images/no_photo.jpg" as no_photo %}
            <img src="{{ new.photo_url2 }}" class="new__img" alt="portret" width="1200px" height="auto">
            {% endif %}
            
            
            {% if new.video %}
            <video src="{{ new.video_url }}" alt="video_content" muted class="video_content" autoplay width="1200px" height="auto"></video>
            {% endif %}
            
            {% if new.text2 %}
            <p class="new__paragraph">{{ new.text2 }}</p>
            {% endif %}
            
            {% if new.image3 %}
            {% static "images/no_photo.jpg" as no_photo %}
            <img src="{{ new.photo_url3 }}" class="new__img" alt="portret" height="675px" width="1200px">
            {% endif %}
            
            {% if new.video2 %}
            <video src="{{ new.video_url2 }}" alt="video_content" muted class="video_content" autoplay height="auto" width="1200px"></video>
            {% endif %}
            
            {% if new.text3 %}
            <p class="new__paragraph">{{ new.text3 }}</p>
            {% endif %}
            
            {% if new.video3 %}
            <video src="{{ new.video_url3 }}" alt="video_content" class="video_content" autoplay muted height="auto" width="1200px"></video>
            {% endif %}
            
            {% if new.text4 %}
            <p class="new__paragraph">{{ new.text4 }}</p>
            {% endif %}
            <!-- <section class="project-description__control-between-projects">
                <section class="control-between-projects__wrapper">
                    <div class="control-previous">
                        <a href="http://localhost:8000/news/{{ new.getPreviousID }}" class="link-to-prev">
                            <p class="contool-link__title">Назад</p>
                            <p class="control-link__description">&lt;</p>
                        </a>
                    </div>
                    <div class="control-next">
                        <a href="http://localhost:8000/news/{{ new.getNextID }}" class="link-to-next">
                            <p class="contool-link__title">Впереёд</p>
                            <p class="control-link__description">&gt;</p>
                        </a>
                    </div>
                </section>
            </section>
        </section> -->
        
    </main>
{% endblock content %}