{% extends 'index.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="ru">
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Last-Modified" content="Sat, 5 Dec 2020 22:37:54 GMT">
    <link rel="stylesheet" href="{% static 'styles/HeaderAndFooterModule.css' %}">
    <link rel="stylesheet" href="{% static 'styles/currentProject.css' %}">
    <link rel="stylesheet" href="{% static 'styles/movingCardsModule.css' %}">
    <script src="{% static 'js/Modules/movingCardsModule.js' %}" defer></script>
    <script src="{% static 'js/Modules/headerScrollAndPopupModule.js' %}" defer></script>
    <script src="{% static 'js/Modules/sliderUltraModule.js' %}" defer></script>
    <title>Конкретный проект</title>
</head>
{% endblock head %}
{% block content %}
    <section class="intro">
        <div class="main-main-title-of-page">
            <h1 class="title-of-page">{{ project.title }}</h1>
            <p class="subtitle"></p>
        </div>
    </section>
    <main class="page-wrapper">
        <section class="project-title">
            <div class="wrapper">
                <div class="slider-container">
                    <div class="slider-track">
                        {% if project.image %}
                            {% static "image/no_photo.jpg" as no_photo %}
                            <div class="slider-item">
                                <img src="{{ project.photo_url }}" alt="project-photo">
                            </div>
                        {% endif %}

                        {% if project.image2 %}
                            {% static "image/no_photo.jpg" as no_photo %}
                            <div class="slider-item">
                                <img src="{{ project.photo_url2 }}" alt="project-photo">
                            </div>
                        {% endif %}

                        {% if project.image3 %}
                            {% static "image/no_photo.jpg" as no_photo %}
                            <div class="slider-item">
                                <img src="{{ project.photo_url3 }}" alt="project-photo">
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="slider-buttons">
                    <a id="left-button-control" class="slider__control" role="button"></a>
                    <a id="right-button-control" class="slider__control" role="button"></a>
                </div>
            </div>
            
            <div class="project-name">
                <p class="project-name__name">{{ project.title }}</p>
                <p class="category">Категория: <br><span class="category__name">сама категория</span></p>
            </div>
        </section>
        <section class="project-description">
            <section class="project-description__descrition">

                {% if project.text %}
                <div class="text-wrapper">
                    <p class="project-text">{{ project.text }}</p>
                </div>
                {% endif %}

                {% if project.text2 %}
                <div class="text-wrapper">
                    <p class="project-text">{{ project.text2 }}</p>
                </div>
                {% endif %}

                {% if project.text3 %}
                <div class="text-wrapper">
                    <p class="project-text">{{ project.text3 }}</p>
                </div>
                {% endif %}
                
                {% if project.text4 %}
                <div class="text-wrapper">
                    <p class="project-text">{{ project.text4 }}</p>
                </div>
                {% endif %}
                
                {% if project.video %}
                    <video src="{{ project.video_url }}" class="video_content" autoplay height="500"></video>
                {% endif %}

                

                {% if project.video2 %}
                    <video src="{{ project.video_url2 }}" class="video_content" autoplay height="500"></video>
                {% endif %}

                

                {% if project.video3 %}
                    <video src="{{ project.video_url3 }}" class="video_content" autoplay height="500"></video>
                {% endif %}

            </section>
            <section class="project-description__projects-slider">
                
                <div class="selector-links">
                    <div class="all-photos">
                        <a class="links-toshow-imges holden__underline" id="link_all">Все</a>
                    </div>
                    <div class="roads">
                        <a class="links-toshow-imges" id="link_roads">Дороги</a>
                    </div>
                    <div class="buildings">
                        <a class="links-toshow-imges" id="link_bridges">Мосты</a>
                    </div>
                </div>
                <div class="moving-cards">
                    <div class="card_moving-cards" data-name="bridge" style="background-color: blanchedalmond;">
                        <!--<img src="" alt="card-img">-->
                    </div>
                    <div class="card_moving-cards" data-name="bridge" style="background-color: pink;">
                        <!--<img src="" alt="card-img">-->
                    </div>
                    <div class="card_moving-cards" data-name="bridge" style="background-color: green;">
                        <!--<img src="" alt="card-img">-->
                    </div>
                    <div class="card_moving-cards" data-name="bridge" style="background-color: yellow;">
                        <!--<img src="" alt="card-img">-->
                    </div>
                    <div class="card_moving-cards" data-name="bridge" style="background-color: blue;">
                        <!--<img src="" alt="card-img">-->
                    </div>
                    <div class="card_moving-cards" data-name="road" style="background-color: violet;">
                        <!--<img src="" alt="card-img">-->
                    </div>
                    <div class="card_moving-cards" data-name="road" style="background-color: black;">
                        <!--<img src="" alt="card-img">-->
                    </div>
                    <div class="card_moving-cards" data-name="bridge" style="background-color: red;">
                        <!--<img src="" alt="card-img">-->
                    </div>
                </div>
           </section>
           <section class="project-description__control-between-projects">
               <section class="control-between-projects__wrapper">
                   <div class="control-previous">
                        <a href="#" class="link-to-prev">
                            <p class="contool-link__title">Назад</p>
                            <p class="control-link__description">
                                БЛА БЛА БЛА НАЗАД
                            </p>
                        </a>
                   </div>
                   <div class="control-next">
                       <a href="#" class="link-to-next">
                           <p class="contool-link__title">Впереёд</p>
                           <p class="control-link__description">
                               БЛА БЛА БЛА ВПЕРЁД
                           </p>
                       </a>
                   </div>
               </section>
           </section>
        </section>
    </main>
{% endblock content %}