<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Last-Modified" content="Sat, 5 Dec 2020 22:37:54 GMT">
    <link rel="stylesheet" href="{% static 'styles/HeaderAndFooterModul.css' %}">
    <link rel="stylesheet" href="{% static 'static/styles/currentNew.css' %}">
    <script src="{% static 'js/ModulOfFunc.js' %}" defer></script>
    <title>новость</title>
</head>
<body>
    <!-- TODO доверстать, когда будут изчестны какие будут страници -->
    <button class="scroll-button">Прокрутка наверх</button>
    <section class="intro">
        <div class="main-main-title-of-page">
            <h1 class="title-of-page">Проекты</h1>
            <p class="subtitle"></p>
        </div>
    </section>
    <main class="main-info">
        <aside class="aside">
            <section class="news">
                <form class="search-form">
                    <input type="text" placeholder="Поиск" class="search-in-career">
                    <button type="submit" class="btn-search"><img src="{% static 'images/loupeblack.svg' %}" alt="search-logo"
                            class="search-logo"></button>
                </form>
                <div class="news-block">
                    <h3 class="newstitle">Новости
                        <hr>
                    </h3>
                    <ul class="news-list">
        
                        {% for a in latest_news_list %}
                        <li class="news-link">{{ a.title }}</li>
                        {% endfor %}
        
                    </ul>
                </div>
                <div class="contacts">
                    <h3 class="contact-block">Контактная информация
                        <hr>
                    </h3>
                    <ul class="contacts-list">
                        <li class="contacts-list__element">+7 (495) 663-51-37</li><br>
                        <li class="contacts-list__element">info@dmu.su</li><br>
                        <li class="contacts-list__element">Пн. - Пт.: 9:00 - 18:00</li><br>
                        <li class="contacts-list__element">Фактический адрес: <br> Москва, Маршала Прошлякова д.10 к.1</li><br>
                        <li class="contacts-list__element">Юридический адрес: <br> Московская обл., г. Люберцы, ул. Красная, д.
                            1 этаж / пом. / ком. 7/72/5</li><br>
                    </ul>
                </div>
            </section>
        </aside>
        <section class="news-info">
            
            <!-- СЮДА ВСТАВЛЯТЬ ВСЁ, ЧТО КАСАЕТСЯ НОВОСТИ -->


        </section>
    </main>
</body>
</html>

<!-- {% extends 'index.html' %}
{% load static %}
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Last-Modified" content="Sat, 5 Dec 2020 22:37:54 GMT">
    <link rel="stylesheet" href="{% static 'styles/searchResult.css' %}">
    <link rel="stylesheet" href="{% static 'styles/HeaderAndFooterModul.css' %}">
    <script src="{% static 'js/ModulOfFunc.js' %}" defer></script>
    <title>ООО "ДМУ" | {{ new.title }}</title>
</head>
{% endblock head %}
{% block content %}
<body>
    {% if new.image %}
        {% static "images/no_photo.jpg" as no_photo %}
        TODO добавить картинку и текст, когда они будут
        <img src="{{ new.photo_url }}" alt="portret" width="270px" height="270px">
    {% endif %}


    <h3>{{ new.title }}</h3>


    {% if new.was_published_recently %}
        <h5 class="news-block__subtitle">Свежая новость!</h5>
    {% endif %}


    {% if new.text %}
       {{ new.text }}
    {% endif %}


    {% if new.image2 %}
        {% static "images/no_photo.jpg" as no_photo %}
        <img src="{{ new.photo_url2 }}" alt="portret" width="270px" height="270px">
    {% endif %}


    {% if new.video %}
        <video src="{{ new.video_url }}" class="video_content" autoplay height="500"></video>
    {% endif %}

    {% if new.text2 %}
       {{ new.text2 }}
    {% endif %}

    {% if new.image3 %}
        {% static "images/no_photo.jpg" as no_photo %}
        <img src="{{ new.photo_url3 }}" alt="portret" width="270px" height="270px">
    {% endif %}

    {% if new.video2 %}
        <video src="{{ new.video_url2 }}" class="video_content" autoplay height="500"></video>
    {% endif %}

    {% if new.text3 %}
       {{ new.text3 }}
    {% endif %}

    {% if new.video3 %}
        <video src="{{ new.video_url3 }}" class="video_content" autoplay height="500"></video>
    {% endif %}

    {% if new.text4 %}
       {{ new.text4 }}
    {% endif %}


</body>
{% endblock content %} -->