{% extends 'index.html' %}
{% load static %}
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Last-Modified" content="Sat, 5 Dec 2020 22:37:54 GMT">
    <link rel="stylesheet" href="{% static 'styles/news.css' %}">
    <link rel="icon" href="{% static 'images/icon.png' %}">
    <script src="{% static 'dist/headerScrollAndPopupModule.js' %}" defer></script>
    <title>ООО "ДМУ" | {% block title %}Новости{% endblock title %}</title>
</head>
{% endblock head %}
<body>
    
    <!-- Header -->
{% block content %}
    <section class="intro">
        <div class="main-main-title-of-page">
            <h1 class="title-of-page">Новости</h1>
            <p class="subtitle"></p>
        </div>
    </section>
    <main>
        
        <section class="article-and-aside">
            <section class="main-info">
                <!--Всего 10 блоков размещено на странице-->
                <article class="news-block">

                {% for new in latest_news_list %}
                <div class="new__wrapper">
                	{% if new.image %}
                	{% static "images/no_photo.jpg" as no_photo %}
                    <!-- <img src="{{ new.photo_url }}" alt="news-img" width="870" height="489" class="news-block__img"> -->
                    {% endif %}
                    <a href="{% url 'detail_new' new.id %}" class="new__url">
                        <p class="new__title">{{ new.title }}</p>
                    <img src="{{ new.photo_url }}" alt="news-img" width="870" height="489" class="news-block__img">
                    <a href="{% url 'detail_new' new.id %}" class="new__url">
                        <p class="new__title">{{ a.title }}</p>
                    </a>
                    {% if new.was_published_recently %}
                    <h5 class="new__subtitle-for-new">Свежая новость!</h5>
                    <!-- Свежая новость! -->
                    {% endif %}
                    <p class="new__text">{{ new.text }}</p>
                </div>
                {% endfor %}

                </article>
            </section>
            <aside class="aside-block">
                <h3 class="aside-block-title">Новости<hr></h3>
                
                {% for new in latest_news_list %}
                <article class="aside-link-block">
                	{% if new.image %}
                	{% static "images/no_photo.jpg" as no_photo %}
                    	<img src="{{ new.photo_url }}" alt="aside-link-photo" width="78" height="43" class="aside-link-block__img">
                	{% endif %}
                    <a href="{% url 'detail_new' new.id %}" class="aside-link"><p class="aside-link-block__title">{{ new.title }}</p></a>
                </article>
                {% endfor %}
                </article>
            </aside>
        </section>
    </main>
{% endblock content %}
    <!-- Footer -->

