{% extends 'index.html' %}
{% load static %}
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Last-Modified" content="Sat, 5 Dec 2020 22:37:54 GMT">
    <link rel="stylesheet" href="{% static 'styles/searchResult.css' %}">
    <link rel="stylesheet" href="{% static 'styles/HeaderAndFooterModul.css' %}">
    <script src="{% static 'js/ModulOfFunc.js' %}" defer></script>
    <title>ООО "ДМУ" | {% block title %}Результаты поиска{% endblock title %}</title>
</head>
{% endblock head %}
{% block content %}
<body>
    <button class="scroll-button">Прокрутка наверх</button>
    <section class="intro">
        <div class="main-main-title-of-page">
            <h1 class="title-of-page">По вашему запросу "{{ search_query|safe}}" ничего не найдено"</h1>
        </div>
    </section>
    <main class="results">
        <section class="result-from-server">
            <h2 class="result-title">
                По вашему запросу ничего не найдено "{{ search_query|safe}}"
            </h2>
        </section>
    </main>

{% endblock content %}

{% block footer %}{% endblock footer %}