{% extends 'index.html' %}
{% load static %}
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/searchResult.css' %}">
    <script src="{% static 'js/ModulOfFunc.js' %}" defer></script>
    <title>Результаты поиска</title>
</head>
{% endblock head %}
{% block content %}
<body>
	{% for a in posts_news %}
    	{{ a.title }}
        <br>
    	{{ a.text }}
	{% endfor %}
    <br>

    {% for a in posts_context %}
        <a href="{{ a.get_absolute_url }}" class="aside-link"><p class="aside-link-block__title">{{ a.title }}</p></a>
        <br>
        {{ a.text }}
    {% endfor %}

    <button class="scroll-button">Прокрутка наверх</button>
</body>
{% endblock content %}