{% extends 'index.html' %}
{% load static %}
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Last-Modified" content="Sat, 5 Dec 2020 22:37:54 GMT">
    <link rel="stylesheet" href="{% static 'styles/searchResult.css' %}">
    <link rel="icon" href="{% static 'images/icon.png' %}">
    <script src="{% static 'dist/headerScrollAndPopupModule.js' %}" defer></script>
    <title>ООО "ДМУ" | {% block title %}Результаты поиска{% endblock title %}</title>
</head>
{% endblock head %}
{% block content %}
    <section class="intro">
        <div class="main-main-title-of-page">
            <h1 class="title-of-page">Результат поиска по запросу "{{ search_query|safe}}"</h1>
        </div>
    </section>

    <main class="results">
	{% if posts_news %}
        {% for a in posts_news %}
        <article class="result-block">

            <a href="{{ a.get_absolute_url }}" class="result__aside-block">
                <p class="aside-link-block__title">{{ a.title }}</p>
            </a>
            {{ a.text }}
        </article>
        {% endfor %}
    {% endif %}

    {% if posts_context %}
        {% for a in posts_context %}
        <article class="result-block">

            <a href="{{ a.get_absolute_url }}" class="result__aside-block">
                <p class="aside-link-block__title">{{ a.title }}</p>
            </a>
            {{ a.text }}
        </article>   
        {% endfor %}
    {% endif %}  
    </main>
{% endblock content %}

{% block footer %} {% endblock %}