{% extends 'index.html' %}
{% load static %}
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Last-Modified" content="Sat, 5 Dec 2020 22:37:54 GMT">
    <link rel="stylesheet" href="{% static 'styles/services.css' %}">
    <link rel="icon" href="{% static 'images/icon.png' %}">
    <script src="{% static 'dist/headerScrollAndPopupModule.js' %}" defer></script>
    <title>ООО "ДМУ" | {% block title %}Услуги{% endblock title %}</title>
</head>
{% endblock head %}
<body>
    
    <!-- Header -->
{% block content %}
    <main>
        <section class="intro">
            <div class="main-main-title-of-page">
                <h1 class="title-of-page">Услуги</h1>
                <p class="subtitle"></p>
            </div>
        </section>
        <section class="main-main">
            <section class="main">
                <div class="first-column">
                    <div class="first-column__first-block">
                        <h3 class="block-title">Строительство дорог и искусственных сооружений
                            <hr>
                        </h3>
                        <a href="{% url 'roads' %}" class="link-img">
                            <div class="img-colored">
                                <img src="{% static 'images/PTO/5.jpg' %}" alt="photo-l" class="photo-l">
                            </div>
                        </a>
                        <p class="block-text">Процесс строительства начинается с глубокого анализа проектной документации. При проведении работ учитываются множество факторов, влияющих на качеств и сроки производства работ.</p>
                        <a href="{% url 'roads' %}" class="see-more-link">Подробнее</a>
                    </div>
                </div>
                <div class="second-column">
                    <div class="second-column__first-block">
                        <h3 class="block-title">Функции техзаказчика
                            <hr>
                        </h3>
                        <a href="{% url 'funcTD' %}" class="link-img">
                            <div class="img-colored">
                                <img src="{% static 'images/PTO/6.jpg' %}" alt="photo-l" class="photo-l">
                            </div>
                        </a>
                        <p class="block-text">Выполняя функции Технического заказчика, ООО «ДМУ» предоставляет Инвестору полный комплекс услуг в строительстве от разработки рабочей документации до сдачи построенного объекта в эксплуатацию.</p>
                        <a href="{% url 'funcTD' %}" class="see-more-link">Подробнее</a>
                    </div>
                </div>
            </section>
        </section>
    </main>
{% endblock content %}
