html {
    scroll-behavior: smooth;
}
.main-information {
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
}

.subnews,
.contact-info,
.what-we-are-doing-subtitle,
.strotegy {
    text-transform: uppercase;
}
.subnews>hr,
.contact-info > hr,
.what-we-are-doing-subtitle > hr,
.strotegy > hr {
    margin-left: 0;
    width: 35px;
    color:  #ff0000;
    border-color: #ff0000;
}
.news-link {
    text-decoration: none;
    color: #000000;
}
.what-we-are-doing-image-and-description {
    display: flex;
}
.scroll-button {
    display: none;
    position: fixed;
    top: 85%;
    right: 30px;
}

.list-of-letters {
    height: 870px;
    width: 737px;
}
.first-line, .second-line {
    display: flex;
}

.display-center-letter-wrapper1,
.display-center-letter-wrapper2,
.display-center-letter-wrapper3,
.display-center-letter-wrapper4,
.display-center-letter-wrapper5,
.display-center-letter-wrapper6,
.display-center-letter-wrapper7,
.display-center-letter-wrapper8 {
    display: none;
}