main{
    margin-left: 15%;
    margin-right: 15%;
}
aside {
    margin-right: 20px;
}
.search {
    width: 270px;
    height: 44px;
}
.news {
    width: 300px;
    height: 857px;
}
.newstitle>hr, .contact-block>hr {
    width: 40px;
    background-color: #ff0000;
    margin-left: 0;
}
.news-link,
.contact-link {
    padding-bottom: 10px;
}
.scroll-button {
    display: none;
    position: absolute;
    top: 600px;
    right: 30px;
}
.main-and-form {
    display: flex;
    flex-direction: column;
}
.main-title {
    margin-top: 150px;
    text-transform: uppercase;
}
.info-of-info{
    display: flex;
}
.main-info{
    display: flex;
}
.fio {
    display: flex;
    justify-content: space-between;
    width: 950px;
}
.name,
.father,
.sername {
    margin-bottom: 40px;
    margin: 0;
}
.name-input,
.father-input {
    margin-right: 30px;
}
.name-input,
.father-input,
.sername-input {
    height: 36px;
    width: 270px;
    padding-left: 10px;
    padding-right: 10px;
}
.phone, .long {
    margin-bottom: 40px;
}
.phone-input,
.long-text-input {
    height: 46px;
    width: 942px;
}
.wraning-name-text, 
.warning-father-text,
.warning-sername-text, 
.warning-phone-text,
.warning-long-text,
.warning-file-text {
    visibility: hidden;
    color: #ff0000;
}
.main-warning {
    margin-top: 50px;
    padding: 25px;
    background-color: #ff0000;
}
.main-warning>span {
    color: #ffffff;
    font-weight: bold;
}