.maintittle {
    margin-left: 20%;
    margin-top: 100px;
}
.main-sub-title {
    margin-left: 20%;
}
.contacts-wrapper {
    margin-top: 100px;
    margin-left: 20%;
    margin-right: 20%;
}
.form-and-contacts {
    display: flex;
}
.vidjet-location {
    width: 358px;
    height: 310px;
}
.firts-line-input {
    display: flex;
}
.input-name, .input-phone {
    margin-right: 23px;
    width: 368px;
    height: 26px;
    background-color: #DCDCDC;
    border: 0.1px solid;
    border-radius: 0;
}
.input-email {
    margin-top: 30px;
    width: 766px;
    height: 46px;
    background-color: #DCDCDC;
    border: 0.1px solid;
}
.input-message {
    margin-top: 30px;
    height: 171px;
    width: 766px;
    background-color: #DCDCDC;
    border: 0.1px solid;
}
.sand-btn {
    margin-top: 60px;
    width: 185.8px;
    height: 46px;
    border: none;
    padding-bottom: 3px;
    text-decoration: none;
    background-color: #ff0000;
    color: #fff;
    transition: .2s linear;
}
.sand-btn:hover {
    background-color: #000000;
}
.addresses {
    padding-left: 20px;
}