html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
}
.scroll-button {
    display: none;
    position: fixed;
    top: 85%;
    right: 30px;
}
.header {
    background-color: #000000;
    opacity: 0.75;
    height: 60px;
}
.header-animation {
    animation: header-animation 1s ease-in-out forwards;
}
@keyframes header-animation {
    0% {
        top: -60px;
    }
    25% {
        top: -40px;
    }
    50%{
        top: -20px;
    }
    100% {
        top: 0;
        position: sticky;
    }
}
.header-navigation {
    margin-right: 20%;
    margin-left: 20%;
    display: flex;
    justify-content: space-between;
}
.nav-bar {
    display: flex;
    color: #ffffff;
    text-decoration: none;
}
.navigation-link {
    display: flex;
    align-items: center;
    text-align: center;
}
.navigation-link a{
    color: #ffffff;
    text-decoration: none;
    padding: 20px;
}
.dropodwn-child {
    display: none;
    position: absolute;
    top: 50px;
    background-color: #000000;
    opacity: 0.75;
    max-width: 200px;
}
.dropodwn-child a {
    color: #ffffff;
    padding: 20px;
    text-decoration: none;
    display: block;
}
.dropodown:hover .dropodwn-child {
    display: block;
}
.video-container {
    height: 500px;
    width: 100%;
}
.learn-more {
    margin-left: 20%;
    position: relative;
    top: 450px;
    margin-bottom: 20px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px;
    background-color: #ff0000;
    color: #fff;

}
.learn-more:hover {
    background-color: #000000;
    /* Добавить палавную смену цвета */
}
.video-container {
    display: flex;
    align-content: center;
    justify-content: center;
} 
.container-info-contacts {
    display: grid;
    grid-template-columns: 300px 750px;
    grid-gap: 50px;
    margin-top: 100px;
    margin-left: 20%;
    margin-right: 20%;
}
.contacts-info {
    align-self: center;
    padding-left: 20px;
    height: 476px;
    width: 300px;
    border: 2px solid;
    border-color: #ff0000;
}
.contacts-list__element {
    margin-top: 20px;
}
.about-us {
    display: block;
    width: 75px;
}
/* Подровнять линию */
.about-us-line {
    width: 55px;
}
.statistic {
    margin-top: 200px;
    background-color: #f9f9f9;
}
.statistic-rating{
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 30px;
}
.statistic-rating-counters {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.projects,
.years,
.customers {
    width: 77px;
    height: 117px;
}
.occupied-niches {
    margin-left: 20%;
    margin-right: 20%;
    display: grid;
    grid-template-columns: repeat(3, 370px);
    grid-gap: 30px;
}
.niches-subheader {
    text-transform: uppercase;
    text-align: center;
}
.our-customers-and-partners{
    margin-top: 200px;
    background-color: #f9f9f9;
}
.customers-and-partners {
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 100px;
}
.customers-and-partners>h2{
    width: 300px;
    margin-bottom: 50px;
    text-transform: uppercase;
}
.customers-and-partners>h2>hr {
    height: 2px;
    background-color: #ff0000;
}
.partners-images {
    display: grid;
    grid-template-columns: repeat(3, 270px);
    grid-gap: 100px;
}
.photo-and-services-list {
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
}
.services-list {
    display: grid;
    grid-template-columns: 350px 350px;
    grid-gap: 20px;
}
.some-news {
    margin-top: 100px;
    margin-right: 20%;
    margin-left: 20%;
}
.main-title {
    margin-bottom: 50px;
}
.main-title > hr {
    width: 40px;
    margin-left: 0;
}
.news-articles {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-gap: 30px;
}
footer{
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 100px;
    margin-bottom: 0 !important;
    background-color: #111111;
    margin: 0;
    color: #fff;
}
.contact-information {
    margin-left: 20%;
    margin-right: 20%;
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-gap: 15px;
}
.requisites-title-line,
.short-information-title-line {
    color: #ff0000 !important;
    border-color: #ff0000 !important;
    width: 35px;
    margin-left: 0;
}
.requisites-text-line,
.short-information-list-line {
    color: #ff0000 !important;
    border-color: #ff0000 !important;
}