@font-face{
    font-family: 'Roboto';
    src: url('../../fonts/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Roboto';
    src: url('../../fonts/Roboto-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}
@font-face{
    font-family: 'Roboto';
    src: url('../../fonts/Roboto-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face{
    font-family: 'Roboto';
    src: url('../../fonts/Roboto-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}
body {
    margin: 0;
    font-family: "Roboto";
    position: relative; /* перенести во все файлы */     
}/* стили для поисковой строки */
/* TODO убрать ненжные стили  */
.search-field-wrapper{
    display: none;
    position: fixed;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: #000000;
    opacity: 0.7;
    z-index: 100000;
}
.form-wrapper {
    position: relative;
    margin: auto;
    margin-top: 250px;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #ffffff;
    max-width: 1170px;   
}
.form-search-head {
    width: 100%;
}
.input-text-search {
    border: none;
    font-size: 17px;
    width: 95%;
    color: #ffffff;
    background-color: inherit;
}
.input-text-search:focus{
    outline: red;     
}
.btn-submit-form {
    width: 44px;
    height: 44px;
    border: none;
    background-color: inherit;
    cursor: pointer;   
}
.btn-submit-form:focus {
    outline: none;   
}
.close-serach-form {
    width: 44px;
    height: 44px;
    border: none;
    background-color: inherit;
    cursor: pointer;
   
}
.close-serach-form:focus {
    outline: none;
}
/* класс отлючения скрола */
.disableScroll{
    position: relative;
    overflow: hidden;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}
/* поиск end */

/* Кнопка прокрутки страници */
.scroll-button {
    display: none;
    position: fixed;
    top: 85%;
    right: 30px;
}
/* Header */
.header {
    position: static;
    content: '';
    background-color: #000000;
    opacity: 0.85;
    height: 60px;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 1000;
} 
.search {
    background-color: #ff0000;
    stroke: #ffffff;
    margin-top: 14px;
    margin-bottom: 14px;
    margin-right: 14px;
    padding: 3px 4px;
}
.header-navigation {
    margin-right: 20%;
    margin-left: 20%;
    display: flex;
    justify-content: space-between;
}
.nav-bar {
    display: flex;
    color: #ffffff;
    text-decoration: none;
}
.navigation-link {
    display: flex;
    align-items: center;
    text-align: center;
}
.navigation-link a{
    font-size: 13px;
    color: #ffffff;
    text-decoration: none;
    padding: 20px;
    padding-bottom: 25px;
    transition: .2s linear;
}
.navigation-link a:hover {
    color: #ff0000;
}
.dropodwn-child {
    display: none;
    position: absolute;
    top: 60px;
    background-color: #000000;
    max-width: 200px;
    z-index: 1000;
}
.dropodwn-child a {
    cursor: pointer;
    color: #ffffff;
    padding: 20px;
    text-decoration: none;
    display: block;
}
.dropodwn-child a:hover{
    opacity: 1;
    color: #ffffff;
    background-color: #ff0000;
}
.navigation-link:hover .dropodwn-child {
    display: block;
}
.header-animation {
    animation: header-animation 1s ease-in-out forwards;
}
@keyframes header-animation {
    0% {
        top: -60px;
    }
    25% {
        top: -40px;
    }
    50%{
        top: -20px;
    }
    100% {
        top: 0;
        position: sticky;
        z-index: 1000;
    }
}
.search-field {
    color: #ffffff;
    text-decoration: none;
}
/* Not header */
.main-title {
    margin-left: 20%;
    margin-top: 150px;
    margin-bottom: 150px;
    text-transform: uppercase;
}
.main-info-title{
    text-transform: uppercase;
}
.main-section {
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
}
.list-of-services{
    display: flex;
    flex-direction: column;
}
.link{
    width: 270px;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 13px;
    padding: 5px 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    margin-bottom: 5px;
    background-color: rgba(192,192,192, .2);
    transition: .2 linear;
}
.link:hover{
    color: #ffffff;
    background-color: #ff0000;
}
.current-link{
    width: 270px;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 13px;
    padding: 5px 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    background-color: #ff0000;
    margin-bottom: 5px;
}
.main-info-title>hr{
    margin-top: 20px;
    margin-left: 0;
    margin-bottom: 30px;
    width: 40px;
    border-color: #ff0000;
}
.main-info {
    margin-left: 40px;
}

.slider {
    position: relative;
    overflow: hidden;
}

.slider__wrapper {
    display: flex;
    transition: transform 0.6s ease;
}

.slider__item {
    flex: 0 0 100%;
    max-width: 100%;
}

.slider__control {
    position: absolute;
    top: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    width: 40px;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    height: 50px;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, .5);
}

.slider__control_show {
    display: flex;
}

.slider__control:hover,
.slider__control:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
}

.slider__control_left {
    left: 0;
}

.slider__control_right {
    right: 0;
}

.slider__control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}

.slider__control_left::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_right::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.slider__item>div {
    line-height: 250px;
    font-size: 100px;
    text-align: center;
}
/* Footer */
footer{
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 100px;
    margin-bottom: 0 !important;
    background-color: #111111;
    margin: 0;
    color: #fff;
}
.contact-information {
    margin-left: 20%;
    margin-right: 20%;
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-gap: 15px;
}
.requisites-title-line,
.short-information-title-line {
    color: #ff0000 !important;
    border-color: #ff0000 !important;
    width: 35px;
    margin-left: 0;
}
.requisites-text-line,
.short-information-list-line {
    color: #ff0000 !important;
    border-color: #ff0000 !important;
}
/* Not footer */