/* Not header */
.intro{
    margin-top: -60px;
    height: 400px;
    background: url('../../images/dmusubg.jpg');
}
.main-main-title-of-page{
    margin-left: 20%;
    padding-top: 200px;
    color: #ffffff;
}
.title-of-page{
    margin-top: 0;
}
.subtitle{
    font-style: italic;
}
.main-section {
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
}
.list-of-services{
    display: flex;
    flex-direction: column;
}
.link{
    width: 270px;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 13px;
    padding: 5px 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    margin-bottom: 5px;
    background-color: rgba(192,192,192, .2);
    transition: .2 linear;
}
.link:hover{
    color: #ffffff;
    background-color: #ff0000;
}
.current-link{
    width: 270px;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 13px;
    padding: 5px 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    background-color: #ff0000;
    margin-bottom: 5px;
}
.main-info-title>hr{
    margin-top: 20px;
    margin-left: 0;
    margin-bottom: 30px;
    width: 40px;
    border-color: #ff0000;
}
.main-info {
    margin-left: 40px;
}
.wrapper {
    position: relative;
    width: 800px;
    margin: 0 auto;
}
.slider-container {
    overflow: hidden;
    background-color: pink;
}
.slider-track {

    display: flex;
    background-color: yellow;
    transition: .2s;
}
.slider-item {
    height: 250px;
}
.slider-item:nth-child(3n+1) {
    background-color: red;
}
.slider-item:nth-child(3n+2) {
    background-color: green;
}
.slider-item:nth-child(3n+3) {
    background-color: blue;
}
.slider-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 40%;
}
#left-button-control, #right-button-control {
    position: relative;
    height: 41px;
    width: 40px;
    cursor: pointer;
    background-color: #000;
}
#left-button-control {
    left: 0;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
#right-button-control {
    right: 0;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
} 