{% load static %}
<!DOCTYPE html>
<html lang="ru">
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Last-Modified" content="Sat, 5 Dec 2020 22:37:54 GMT">
    <link rel="stylesheet" href="{% static 'styles/indexStyle.css' %}">
    <link rel="stylesheet" href="{% static 'styles/HeaderAndFooterModule.css' %}">
    <link rel="stylesheet" href="{% static 'styles/movingCardsModule.css' %}">
    <script src="{% static 'js/Modules/headerScrollAndPopupModule.js' %}" defer></script>
    <script src=".{% static 'js/main.js' %}" defer></script>
    <script src="{% static 'js/Modules/movingCardsModule.js' %}" defer></script>
    <title>ООО "ДМУ" | {% block title %}Главная{% endblock title %}</title>
</head>
{% endblock head %}
<body>
    <button class="scroll-button">Прокрутка наверх</button>
    <!-- header start -->
{% block header %}
    <header id="header" class="header">
        <div class="header-header">
            <div class="header-navigation">
                <img src="{% static 'images/black/mainlogo.png' %}" alt="company logo" width="100px" height="60px" class="company-logo">
                <div class="nav-bar">
                    <div class="navigation-link">
                        <a href="{% url 'index' %}">Главная</a>
                    </div>
                    <div class="navigation-link">
                        <a href="{% url 'about' %}">О компании</a>
                    </div>
                    <div class="navigation-link">
                        <a href="{% url 'projects' %}">Проекты</a>
                    </div>
                    <div class="navigation-link">
                        <a href="{% url 'services' %}">Услуги</a>
                        <div class="dropodwn-child">
                            <a href="{% url 'roads' %}">Преоктирование и строительство дорог</a>
                            <a href="{% url 'buildings' %}">Проектирование и строительство зданий</a>
                            <a href="{% url 'funcTD' %}">Функции техзаказчика</a>
                            <a href="{% url 'buildingSurvey' %}">Обследование зданий</a>
                        </div>
                    </div>
                    <div class="navigation-link">
                        <a href="{% url 'news' %}">Новости</a>
                    </div>
                    <div class="navigation-link">
                        <a href="{% url 'career' %}">Карьера</a>
                    </div>
                    <div class="navigation-link">
                        <a href="{% url 'contacts' %}">Контакты</a>
                    </div>
                    <div class="popup-menu-for-smallScreen">
                        <img src="{% static 'images/menu.svg' %}" width="23" height="23" alt="popupHumburger" class="small-screen-popup-icon">
                        <div class="small-screen-popup">
                            <a href="{% url 'index' %}" class="small-screen-popup__item">Главная</a>
                            <a href="{% url 'about' %}" class="small-screen-popup__item">О компании</a>
                            <a href="{% url 'projects' %}" class="small-screen-popup__item">Проекты</a>
                            <a href="{% url 'services' %}" class="small-screen-popup__item">Услуги</a>
                            <a href="{% url 'news' %}" class="small-screen-popup__item">Новости</a>
                            <a href="{% url 'career' %}" class="small-screen-popup__item">Карьера</a>
                            <a href="{% url 'contacts' %}" class="small-screen-popup__item">Контакты</a>
                        </div>
                    </div>
                    <div class="search">
                        <a href="#" class="search-field"><img src="{% static 'images/loupewhite.svg' %}" alt="search-icon" class="search-icon" width="23" height="23"></a>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- активация поиска -->
        <div class="search-field-wrapper">
            <div class="form-wrapper">
                <label>
                    <form class="form-search-head">
                        <button type="submit" class="btn-submit-form"><img class="img-start-search"
                                src="{% static 'images/loupewhite.svg' %}" alt="search-icon"></button>
                        <input class="input-text-search" type="text" placeholder="Поиск..." name="search" autocomplete="off">
                    </form>
                </label>
                <button class="close-serach-form"><img src="{% static 'images/cancel.svg' %}" class="img-close-search-form" alt="cross-icon"></button>
            </div>
        </div>
        <!-- активация поиска -->
    </header>
{% endblock header %}
{% block content %}
    <!-- header end -->
    <main class="main-page">
        <div class="intro">
            <div class="main-main-title-of-page">
                <h1 class="title-of-page">Проектирование</h1>
                <p class="subtitle"><a href="{% url 'about' %}" class="know-more-link">Узнать больше</a></p>
            </div>
        </div>
        <div class="container-info-contacts">
            <div class="contacts-info">
                <h4 class="contact-info">Контактная информация</h4>
                <ul class="contacts-list">
                    <li class="contacts-list__element">+7 (495) 663-51-37</li>
                    <li class="contacts-list__element">info@dmu.su</li>
                    <li class="contacts-list__element">Пн. - Пт.: 9:00 - 18:00</li>
                    <li class="contacts-list__element">Фактический адрес: <br> Москва, Маршала Прошлякова д.10 к.1</li>
                    <li class="contacts-list__element">Юридический адрес: <br> Московская обл., г. Люберцы, ул. Красная, д. 1 этаж / пом. / ком. 7/72/5</li>
                    <!-- <li class="contacts-list__element">	+7(812)449-47-81</li> -->
                    <!-- <li class="contacts-list__element">Пн. - Пт.: 9:00 - 18:00</li> -->
                </ul>
            </div>
            <div class="about-us-text">
                <h3 class="about-us">О нас
                    <hr class="about-us-line">
                </h3>
                <p class="text">«ГОРКА» – новое имя компании, которое родилось при сокращении «ГОРКАПСТРОЙ». Оптимизация уменьшила количество букв, однако количество смыс­лов, которые предваряют реализацию новых возможностей, возросло.</p>
                <p>Наше новое название и логотип – это не отказ от многолетних традиций, неоспоримых достижений и солидной репутации, а их концентрация и нерушимая связь с образами и символами эпохи невероятной созидательной энергии.</p>
                <p>В логотипе компании отразилась эстетика, сопутствовавшая победам и достижени­ям нашего государства. Эти успехи были ос­нованы не только на новых технологиях про­изводства, которые преумножились на почве культуры страны, но и на вдохновении людей, с восхищением смотрящих в будущее.</p>
                <p>Синтез передовых технологий и оптимизма сотрудников становится краеугольным камнем развития компании. Качество каждого решения — приоритет нашей работы. От начала проектирования и до завершения строительства объекта, мы проходим несколько различных по сложности этапов, и на каждом из них мы всегда достигаем положительного результата.</p>
            </div>
        </div>
        <div class="statistic">
            <div class="statistic-rating">
                <div class="statistic-rating-counters">
                    <div class="projects">
                        <span class="projects-counter"></span>
                        <hr>
                    </div>
                    <div class="years">
                        <span class="years-counter"></span>
                        <hr>
                    </div>
                    <div class="customers">
                        <span class="customers-counter"></span>
                        <hr>
                    </div>
                </div>
                <div class="statistic-rating-info">
                <p>I место в номинации «Информационное моделирование объектов общественного назначения» IV Всероссийского конкурса с международным участием «BIM-технологии 2019/20» за проект «Реставрация, капитальный ремонт, сохранение объектов и благоустройство территории: «Достопримечательное место ВСХВ-ВДНХ-ВВЦ», г. Москва.</p>
                </div>
            </div>
        </div>
        <div class="niches">
            <div class="occupied-niches">
                <div class="infrastructure-design">
                    <h3 class="niches-subheader">Инфраструктурное проектирование</h3>
                    <img src="{% static 'images/black/movingCards(x189).png' %}" alt="infrastructure-design" class="infrastructure-photo" width="370px" height="277px">
                    <p>ГК «ГОРКА» успешно выполняет заказы по инфраструктурному проектированию городских объектов, автомобильных дорог и искусственных сооружений, инженерных сетей, строительству и ремонту дорог, лечебно-профилактических и административных учреждений.</p>
                </div>
                <div class="development-of-construction-documentation">
                    <h3 class="niches-subheader">Разработка строительной документации</h3>
                    <img src="{% static 'images/black/movingCards(x189).png' %}" alt="development-of-construction-documentation" class="development-photo" width="370px" height="277px">
                    <p>Специалисты компании занимаются созданием концепции развития населенных пунктов в России и за рубежом, разработкой градостроительной документации. Работа выполняется с учетом особенностей местности, конфигурации участка, согласно нормам и правилам застройки территории.</p>
                </div>
                <div class="implementation-of-investment-projects">
                    <h3 class="niches-subheader">Реализация инвестиционных проектов</h3>
                    <img src="{% static 'images/black/movingCards(x189).png' %}" alt="implementation-of-investment-projects" class="implementation-photo" width="370px" height="277px">
                    <p>Компания выполняет весь комплекс работ по разработке и оформлению строительной документации, а также реализации инвестиционных проектов. Организация обладает всеми необходимыми ресурсами для выполнения услуг техзаказчика-застройщика.</p>
                </div>
            </div>
        </div>
        <div class="our-customers-and-partners">
            <div class="customers-and-partners">
                <h2>Наши заказчики<hr></h2>
                <div class="partners-images">
                    <img src="{% static 'images/black/services.png' %}" width="250" height="150" alt="Департамент строительства города Москвы">
                    <img src="{% static 'images/black/services.png' %}" width="250" height="150" alt="Министерство сторительного комплекса московской области">
                    <img src="{% static 'images/black/services.png' %}" width="250" height="150" alt="Управление дорожно-мостового строительства">
                    <img src="{% static 'images/black/services.png' %}" width="250" height="150" alt="Дирекция дорожного строительства">
                    <img src="{% static 'images/black/services.png' %}" width="250" height="150" alt="Департамент развития новых территорий города Москвы">
                    <img src="{% static 'images/black/services.png' %}" width="250" height="150" alt="АВТОДОР">
                </div>
            </div>
        </div>
        <div class="services">
            <div class="photo-and-services-list">
                <div class="service">
                    <h3 class="service-header">Проектирование и строительство дорог</h3>
                    <p class="service-description">Процесс проектирования начинается с выяснения потенциальных возможностей участка, выбранного для <br>будущего строительства, анализа существующего положения. При проведении расчетов учитываются множество факторов.</p>
                </div>
                <div class="service">
                    <h3 class="service-header">Обследование зданий</h3>
                    <p class="service-description">Обследование зданий должно включать комплекс мероприятий, позволяющих провести диагностику состояния здания, что позволит максимально эффективно эксплуатировать сооружение.</p>
                </div>
                <div class="service">
                    <h3 class="service-header">Проектирование и строительство</h3>
                    <p class="service-description">В зависимости от поставленной задачи обследование может быть выполнено с помощью визуального, ультразвукового, тепловизионного, телевизионного, электромагнитного, георадиолокационного методов и их сочетания.</p>
                </div>
                <div class="service">
                    <h3 class="service-header">Функции техзаказчика</h3>
                    <p class="service-description">Выполняя функции Технического заказчика, ГК «ГОРКА» предоставляет Инвестору полный комплекс инжиниринговых услуг в строительстве от разработки проектной документации до сдачи построенного объекта в эксплуатацию.</p>
                </div>
            </div>
        </div>
        <div class="project-project">
            <div class="projects-section">
                <div class="title-and-selectors">
                    <div class="title-and-line">
                        <h2 class="title">Проекты</h2>
                        <hr>
                    </div>
                    <div class="selector-links">
                        <div class="all-photos">
                            <a class="links-toshow-imges holden__underline" id="link_all">Все</a>
                        </div>
                        <div class="roads">
                            <a class="links-toshow-imges" id="link_roads">Дороги</a>
                        </div>
                        <div class="buildings">
                            <a class="links-toshow-imges" id="link_bridges">Мосты</a>
                        </div>
                    </div>
                </div>
                <!-- Ползующие картинки -->
                <div class="moving-cards">
                	{% for a in projects %}
                	{% static "images/no_photo.jpg" as no_photo %}
                    <div class="card_moving-cards" data-name="{{ a.project_type }}" style="background-color: blanchedalmond;">
                        <img src="{% static 'images/black/movingCards.png' %}" alt="card-img">
                    </div>
                  	{% endfor %}
                </div>
                <div class="portofoli-and-youTube">
                    <div class="portfol__wrapper">
                        <h2 class="portfol"><a href="/" class="portfol-a">Портфолио</a></h2>
                        <hr>
                    </div>
                    <a href="/"><img src="" alt="youTube-logo" class="youTube-logo"></a>
                </div>
            </div>
        </div>
        <div class="some-news">
            <h2 class="main-title">Новости<hr></h2>
            <div class="news-articles">

<!-- Цикл для отображения новостей -->
{% for a in latest_news_list %}
                <div class="news-article">
                	{% static "images/no_photo.jpg" as no_photo %}
                    <img src="{{ a.photo_url }}" alt="news-photo" class="news-photo" width="370px" height="246px">
                    <h4 class="news-title">{{ a.title }}</h4>
                    <p class="article-text">{{ a.text }}</p>
                    <hr>
                </div>
{% endfor %}



            </div>
        </div>
    </main>
{% endblock content %}
{% block footer %}
    <footer>
        <div class="contact-information">
            <div class="logo-and-description">
                <img src="{% static 'images/black/mainlogo.png' %}" alt="big-logo" class="footer-logo" alt width="50%">
                <p class="description">ООО "ДМУ"<br><br>Мы располагаем многогранным опытом разработки и согласования проектной документации для строительства и реконструкции объектов.</p>
            </div>
            <div class="requisites">
                <h4 class="footer-title">Реквезиты
                    <hr class="requisites-title-line">
                </h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam voluptatum, maiores mollitia
                    perspiciatis quia modi excepturi eligendi, ipsum suscipit soluta recusandae dolor quae ex assumenda
                    praesentium, vitae est neque distinctio <hr class="requisites-text-line"></p>
            </div>
            <div class="short-information">
                <h4 class="footer-title">Наши Контакты
                    <hr class="short-information-title-line">
                </h4>
                <ul>
                    <li>Москва, Маршала Прошлякова д.10 к.1</li>
                    <li>+7 (495) 663-51-37</li>
                    <li>info@dmu.su</li>
                    <li>Пн. - Пт.: 9:00 - 18:00</li>
                    <hr class="short-information-list-line">
                    <!-- <li>196191, г. Санкт-Петербург, пл. Конституции, д.3, корп. 2, этажи 9 и 10</li> -->
                </ul>
            </div>
        </div>
    </footer>
    {% endblock footer %}
</body>
</html>
