{% load static %}
<!DOCTYPE html>
<html lang="ru">
{% block head %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Last-Modified" content="Sat, 5 Dec 2020 22:37:54 GMT">
    <link rel="stylesheet" href="{% static 'styles/indexStyle.css' %}">
    <link rel="stylesheet" href="{% static 'styles/HeaderAndFooterModule.css' %}">
    <link rel="icon" href="{% static 'images/icon.png' %}">
    <script src="{% static 'js/Modules/headerScrollAndPopupModule.js' %}" defer></script>
    <script src=".{% static 'js/main.js' %}" defer></script>
    <!-- <script src="{% static 'dist/mainPage.js' %}" async></script> -->
    <title>ООО "ДМУ" | {% block title %}Главная{% endblock title %}</title>
</head>
{% endblock head %}
<body>
    <button class="scroll-button">
        <img src="{% static 'images/scrollup.png' %}" width="36" alt="scroll up"/>
    </button>
    <!-- header start -->
{% block header %}
    <header id="header" class="header">
        <div class="header-header">
            <div class="header-navigation">
                <a href="{% url 'index' %}">
                    <img src="{% static 'images/hiddenlogo.png' %}" alt="company logo" height="60px" class="company-logo">
                </a>
                <div class="nav-bar">
                    <div class="navigation-link">
                        <a href="{% url 'index' %}">Главная</a>
                    </div>
                    <div class="navigation-link">
                        <a href="{% url 'about' %}">О компании</a>
                    </div>
<!--                    <div class="navigation-link">-->
<!--                        <a href="{% url 'projects' %}">Проекты</a>-->
<!--                    </div>-->
                    <div class="navigation-link">
                        <a href="{% url 'services' %}">Услуги</a>
                        <div class="dropodwn-child">
                            <a href="{% url 'roads' %}">Строительство дорог и искусственных сооружений</a>
                            <a href="{% url 'funcTD' %}">Функции техзаказчика</a>
                        </div>
                    </div>
                    <div class="navigation-link">
                        <a href="{% url 'news' %}">Новости</a>
                    </div>
                    <div class="navigation-link">
                        <a href="{% url 'career' %}">Карьера</a>
                    </div>
                    <div class="navigation-link">
                        <a href="{% url 'contacts' %}">Контакты</a>
                    </div>
                    <div class="popup-menu-for-smallScreen">
                        <img src="{% static 'images/menu.svg' %}" width="23" height="23" alt="popupHumburger" class="small-screen-popup-icon">
                        <div class="small-screen-popup">
                            <a href="{% url 'index' %}" class="small-screen-popup__item">Главная</a>
                            <a href="{% url 'about' %}" class="small-screen-popup__item">О компании</a>
                            <a href="{% url 'projects' %}" class="small-screen-popup__item">Проекты</a>
                            <a href="{% url 'services' %}" class="small-screen-popup__item">Услуги</a>
                            <a href="{% url 'news' %}" class="small-screen-popup__item">Новости</a>
                            <a href="{% url 'career' %}" class="small-screen-popup__item">Карьера</a>
                            <a href="{% url 'contacts' %}" class="small-screen-popup__item">Контакты</a>
                        </div>
                    </div>
                    <div class="search">
                        <a href="/" class="search-field"><img src="{% static 'images/loupewhite.svg' %}" alt="search-icon" class="search-icon" width="23" height="23"></a>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- активация поиска -->
        <div class="search-field-wrapper">
            <div class="form-wrapper">
                <label>
                    <form class="form-search-head">
                        <button type="submit" class="btn-submit-form"><img class="img-start-search"
                                src="{% static 'images/loupewhite.svg' %}" alt="search-icon"></button>
                        <input class="input-text-search" type="text" placeholder="Поиск..." name="search" autocomplete="off">
                    </form>
                </label>
                <button class="close-serach-form"><img src="{% static 'images/cancel.svg' %}" class="img-close-search-form" alt="cross-icon"></button>
            </div>
        </div>
        <!-- активация поиска -->
    </header>
{% endblock header %}
{% block content %}
    <!-- header end -->
    <main class="main-page">
        <div class="intro">
            <div class="main-main-title-of-page">
                <h1 class="title-of-page">Проектирование</h1>
                <p class="subtitle"><a href="{% url 'about' %}" class="know-more-link">Узнать больше</a></p>
            </div>
        </div>
        <div class="container-info-contacts">
            <div class="contacts-info">
                <h4 class="contact-info">Контактная информация</h4>
                <ul class="contacts-list">
                    <li class="contacts-list__element">+7 (495) 663-51-37</li>
                    <li class="contacts-list__element">info@dmu.su</li>
                    <li class="contacts-list__element">Пн. - Пт.: 9:00 - 18:00</li>
                    <li class="contacts-list__element">Фактический адрес: <br> Москва, Маршала Прошлякова д.10 к.1</li>
                    <li class="contacts-list__element">Юридический адрес: <br> Московская обл., г. Люберцы, ул. Красная, д. 1 этаж / пом. / ком. 7/72/5</li>
                    <!-- <li class="contacts-list__element">	+7(812)449-47-81</li> -->
                    <!-- <li class="contacts-list__element">Пн. - Пт.: 9:00 - 18:00</li> -->
                </ul>
            </div>
            <div class="about-us-text">
                <h3 class="about-us">О нас
                    <hr class="about-us-line">
                </h3>
                <p class="text">OOO «ДМУ» – имя компании, которое родилось при сокращении «ДОРОЖНО-МОСТОВОЕ УПРАВЛЕНИЕ».</p>
                <p>Наше название – это отражение основных направлений деятельности компании, строительство и реконструкция инфраструктурных объектов транспортного строительства.</p>
                <p>Синтез передовых технологий и оптимизма сотрудников становится краеугольным камнем развития компании. Качество каждого решения — приоритет нашей работы. От начала и до завершения строительства объекта, мы проходим несколько различных по сложности этапов, и на каждом из них мы всегда достигаем положительного результата.</p>
                <p>С 2020 года ООО "ДМУ" является дочернем предприятием крупнейшего в Российской Федерации генерального подрядчика АО "СТРОЙТРАНСГАЗ".</p>
            </div>
        </div>
        <div class="statistic">
            <div class="statistic-rating">
                <div class="statistic-rating-counters">
                    <div class="projects">
                        <div class="counter">
                            <span class="projects-counter"></span>
                            <hr>
                        </div>
                        <h3>Количество выполненных проектов</h3>
                    </div>
                    <div class="years">
                        <div class="counter">
                            <span class="years-counter"></span>
                            <hr>
                        </div>
                        <h3>Возраст компании</h3>
                    </div>
                    <div class="customers">
                        <div class="counter">
                            <span class="customers-counter"></span>
                            <hr>
                        </div>
                        <h3>Количество сотрудников</h3>
                    </div>
                </div>
                <div class="statistic-rating-info">
                <p>I место в номинации «Информационное моделирование объектов общественного назначения» IV Всероссийского конкурса с международным участием «BIM-технологии 2019/20» за проект «Реставрация, капитальный ремонт, сохранение объектов и благоустройство территории: «Достопримечательное место ВСХВ-ВДНХ-ВВЦ», г. Москва.</p>
                </div>
            </div>
        </div>
        <div class="niches">
            <div class="occupied-niches">
                <div class="infrastructure-design">
                    <h3 class="niches-subheader">Инфраструктурное проектирование</h3>
                    <img src="{% static 'images/static_images/kamaz.png' %}" alt="infrastructure-design" class="infrastructure-photo" width="370px" height="277px">
                    <p>ГК «ГОРКА» успешно выполняет заказы по инфраструктурному проектированию городских объектов, автомобильных дорог и искусственных сооружений, инженерных сетей, строительству и ремонту дорог, лечебно-профилактических и административных учреждений.</p>
                </div>
                <div class="development-of-construction-documentation">
                    <h3 class="niches-subheader">Разработка строительной документации</h3>
                    <img src="{% static 'images/static_images/DJI_0657.png' %}" alt="development-of-construction-documentation" class="development-photo" width="370px" height="277px">
                    <p>Специалисты компании занимаются созданием концепции развития населенных пунктов в России и за рубежом, разработкой градостроительной документации. Работа выполняется с учетом особенностей местности, конфигурации участка, согласно нормам и правилам застройки территории.</p>
                </div>
                <div class="implementation-of-investment-projects">
                    <h3 class="niches-subheader">Реализация инвестиционных проектов</h3>
                    <img src="{% static 'images/static_images/DJI_0617.png' %}" alt="implementation-of-investment-projects" class="implementation-photo" width="370px" height="277px">
                    <p>Компания выполняет весь комплекс работ по разработке и оформлению строительной документации, а также реализации инвестиционных проектов. Организация обладает всеми необходимыми ресурсами для выполнения услуг техзаказчика-застройщика.</p>
                </div>
            </div>
        </div>
        <div class="our-customers-and-partners">
            <div class="customers-and-partners">
                <h2>Наши заказчики<hr></h2>
                <div class="partners-images__wrapper">
                    <div class="partners-images">
                        <img src="{% static 'images/static_images/zakazy/logos-1170x652.jpg' %}" width="1170" height="652"
                            alt="Департамент строительства города Москвы">
                        <!-- <img src="{% static 'images/black/services.png' %}" width="250" height="150"
                            alt="Министерство сторительного комплекса московской области">
                        <img src="{% static 'images/black/services.png' %}" width="250" height="150"
                            alt="Управление дорожно-мостового строительства">
                        <img src="{% static 'images/black/services.png' %}" width="250" height="150" alt="Дирекция дорожного строительства">
                        <img src="{% static 'images/black/services.png' %}" width="250" height="150"
                            alt="Департамент развития новых территорий города Москвы">
                        <img src="{% static 'images/black/services.png' %}" width="250" height="150" alt="АВТОДОР"> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="services">
            <div class="photo-and-services-list">
                <div class="service">
                    <h3 class="service-header">СТРОИТЕЛЬСТВО ДОРОГ И ИСКУССТВЕННЫХ СООРУЖЕНИЙ</h3>
                    <p class="service-description">Процесс строительства начинается с глубокого анализа проектной документации. При проведении работ учитываются множество факторов, влияющих на качеств и сроки производства работ.</p>
                </div>
                <div class="service">
                    <h3 class="service-header">ФУНКЦИИ ТЕХЗАКАЗЧИКА</h3>
                    <p class="service-description">Выполняя функции Технического заказчика, ООО «ДМУ» предоставляет Инвестору полный комплекс услуг в строительстве от разработки рабочей документации до сдачи построенного объекта в эксплуатацию.</p>
                </div>
            </div>
        </div>
        
        <div class="some-news">
            <h2 class="main-title">Новости<hr></h2>
            <div class="news-articles">

<!-- Цикл для отображения новостей -->
{% for a in latest_news_list %}
                <div class="news-article">
                	{% static "images/no_photo.jpg" as no_photo %}
                    <img src="{{ a.photo_url }}" alt="news-photo" class="news-photo" width="370px" height="246px">
                    <h4 class="news-title">{{ a.title }}</h4>
                    <p class="article-text">{{ a.text }}</p>
                    <hr>
                </div>
{% endfor %}



            </div>
        </div>
    </main>
{% endblock content %}
{% block footer %}
    <footer>
        <div class="contact-information">
            <div class="logo-and-description">
                <img src="{% static 'images/hiddenlogo.png' %}" alt="big-logo" class="footer-logo" alt width="50%">
                <p class="description">ООО "ДМУ"<br><br>Мы располагаем многогранным опытом разработки и согласования проектной документации для строительства и реконструкции объектов.</p>
            </div>
            <div class="requisites">
                <h4 class="footer-title">Реквезиты
                    <hr class="requisites-title-line">
                </h4>
                <p>140000, Московская обл., г. Люберцы, ул. Красная, д. 1, ЭТ/ПОМ/КОМ 7/72/5<br><br>ИНН 5027272699<br><br>КПП 502701001<br><br>ОГРН 1195027002224<br><br>ОКПО 35888329<hr class="requisites-text-line"></p>
            </div>
            <div class="short-information">
                <h4 class="footer-title">Наши Контакты
                    <hr class="short-information-title-line">
                </h4>
                <ul>
                    <li>Москва, Маршала Прошлякова д.10 к.1</li>
                    <li>+7 (495) 663-51-37</li>
                    <li>info@dmu.su</li>
                    <li>Пн. - Пт.: 9:00 - 18:00</li>
                    <hr class="short-information-list-line">
                    <!-- <li>196191, г. Санкт-Петербург, пл. Конституции, д.3, корп. 2, этажи 9 и 10</li> -->
                </ul>
            </div>
        </div>
    </footer>
    {% endblock footer %}
</body>
</html>
