.intro{
    margin-top: -60px;
    height: 400px;
    background: url('../images/dmusubg.jpg');
}
.main-main-title-of-page{
    margin-left: 20%;
    padding-top: 200px;
    color: #ffffff;
}
.title-of-page{
    margin-top: 0;
}
.subtitle{
    font-style: italic;
}
.main-information {
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
}
/* Поиск со страницы */
.search-form{
    display: flex;
    flex-direction: row;
    height: 44px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
}
.get-search-from-page{
    padding: 0 10px;
    width: 90%;
    border: none;
}
.get-search-from-page:focus{
    outline: none;
}
.btn-search{
    cursor: pointer;
    width: 15%;
    background-color: inherit;
    border: none;
}
.btn-search:focus{
    outline: none;
}
.search-logo{
    width: 19px;
    height: 19px;
}
/*  */
.subnews,
.contact-info,
.what-we-are-doing-subtitle,
.strotegy {
    text-transform: uppercase;
}
.subnews>hr,
.contact-info > hr,
.what-we-are-doing-subtitle > hr,
.strotegy > hr {
    margin-top: 25px;
    margin-left: 0;
    width: 35px;
    color:  #ff0000;
    border-color: #ff0000;
}
.sidebar {
    width: 300px;
    margin-right: 30px;
}
.news-link {
    font-size: 15px;
    text-decoration: none;
    color: #000000;
    transition: .1s linear;
}
.news-link:hover{
    color: #ff0000;
}
.news-list-item {
    margin-top: 5px;
}
.what-we-are-doing-image-and-description {
    display: flex;
}
.scroll-button {
    display: none;
    position: fixed;
    top: 85%;
    right: 30px;
}
.contacts-info {
    margin-top: 50px;
    width: 300px;
}
.contacts-list__element {
    margin-top: 10px;
}
.link-to-email{
    color: #000000;
    text-decoration: none;
    transition: .2s linear;
}
.link-to-email:hover{
    color: #ff0000;
}


@media (max-width: 1746px) {
    .what-we-are-doing-image-and-description{
        flex-wrap: wrap;
    }
}

@media (max-width: 768px) { 
    .main-information{
        margin-left: 15%;
    }
}
@media (max-width: 680px) { 
    .main-information{
        margin-left: 10%;
    }
}
@media (max-width: 568px) {
    .main-information {
        align-items: center;
        margin-left: 0;
        margin-right: 0;
    }
    .motto-title {
        text-align: center;
    }
    .motto-text {
        text-align: center;
    }
    .what-we-are-doing-subtitle {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }
    .what-we-are-doing-subtitle > hr, .strotegy > hr {
        margin-left: auto;
    }
    .strotegy {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 507px) {
    .working-proces-img {
        margin-left: 15px;
        width: 300px;
        height: auto;
    }
    
}
