.intro{
    margin-top: -60px;
    height: 400px;
    background: url('../images/dmusubg.jpg');
}
.main-main-title-of-page{
    margin-left: 20%;
    padding-top: 200px;
    color: #ffffff;
}
.title-of-page{
    margin-top: 0;
}
.subtitle{
    font-style: italic;
}
.main-information {
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
}
.serch-form {
    border: 1px solid #000000;
    max-width: 277px;
    height: 45px;
    display: flex;
    align-items: center;
}
.input-text {
    border: none;
    width: 91%;
}
.input-text:focus{
    outline: none;
}
.search-btn-icon {
    width: 42px;
    height: 100%;
    border: none;
    background-color: inherit;
    cursor: pointer;
}
.icon-search {
    width: 20px;
    height: 20px;
}
.subnews,
.contact-info,
.what-we-are-doing-subtitle,
.strotegy {
    text-transform: uppercase;
}
.subnews>hr,
.contact-info > hr,
.what-we-are-doing-subtitle > hr,
.strotegy > hr {
    margin-top: 25px;
    margin-left: 0;
    width: 35px;
    color:  #ff0000;
    border-color: #ff0000;
}
.subnews{
    margin-top: 50px;
}
.sidebar {
    margin-right: 30px;
}

.news-link {
    font-size: 15px;
    text-decoration: none;
    color: #000000;
    transition: .1s linear;
}
.news-link:hover{
    color: #ff0000;
}
.news-list-item {
    margin-top: 5px;
}

/* TODO подобрать нормальный размер */
.news-list-item:before {
    /* content: url('../images/arrowRight.svg'); */
    
}
.what-we-are-doing-image-and-description {
    display: flex;
}
.scroll-button {
    display: none;
    position: fixed;
    top: 85%;
    right: 30px;
}
.contacts-info {
    margin-top: 50px;
    width: 300px;
}

.contacts-list__element {
    margin-top: 10px;
}
.contacts-list__element:nth-child(1) {
    font-weight: bold;
}
.contacts-list__element:nth-child(5) {
    font-weight: bold;
}
.link-to-email{
    color: #000000;
    text-decoration: none;
    transition: .2s linear;
}
.link-to-email:hover{
    color: #ff0000;
}
.thanksgiving-letters {
    margin-top: 50px;
}
.thanksgiving-letters-title {
    text-transform: uppercase;
    margin-bottom: 40px;
}
.letters__line {
    border-color: #ff0000;
}
.list-of-letters {
    height: 870px;
    width: 737px;
}
.first-line, .second-line {
    display: flex;
}

.display-center-letter-wrapper {
    position: fixed;
    top: 200px;
    left: 600px;
    z-index: 999;
    display: none;
}
