/* main start */
.intro{
    margin-top: -60px;
    height: 400px;
    background: url('../images/dmusubg.jpg');
}
.main-main-title-of-page{
    margin-left: 20%;
    padding-top: 200px;
    color: #ffffff;
}
.title-of-page{
    margin-top: 0;
}
.subtitle{
    font-style: italic;
}
.form-and-adress{
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
}
.form-wrapper-article{
    max-width: 746px;
    margin-right: 40px;
    margin-bottom: 50px;
}
.form__name-and-phone-wrapper{
    display: flex;
    justify-content: space-between;
}
.form__name-wrapper, .form__phone-wrapper{
    width: 47%;
}
.from__input-name, .form__input-phone{
    width: 100%;
    height: 46px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 12px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.form__email-wrapper{
    width: 100%;
}
.form__input-email{
    width: 100%;
    height: 46px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 12px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.form__message-wrapper{
    width: 100%;
}
.from__input-message{
    width: 100%;
    resize: none;
    padding: 15px;
    height: 140px;
    font-family: 'Roboto';
    font-size: 12px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.form__warning{
    margin-top: 5px;
    color: #ff0000;
    visibility: hidden;
}
.from__input-message:focus, .form__input-email:focus, .form__input-phone:focus, .from__input-name:focus{
    outline: #ff0000;
}
.form__btn-submit{
    outline: #ff0000;
    margin-top: 40px;
    color: #ffffff;
    background-color: #ff0000;
    border: none;
    padding: 20px 40px;
    transition: .2s linear;
    cursor: pointer;
}
.form__btn-submit:hover{
    background-color: #000000;
}
.main-warn-wrapper{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.main-warning-text{
    visibility: hidden;
    text-align: center;
    font-size: 13px;
    padding: 20px 5px;
    color: #ffffff;
    background-color: #ff0000;

}
input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.vidjet-and-contacts{
    max-width: 368px;
    margin-left: 20px;
}
.contacts__title{
    text-transform: uppercase;
}
.contacts__item__email-link{
    text-decoration: none;
    color: #000000;
    transition: .1s linear; 
}
.contacts__item__email-link:hover{
    color: #ff0000;
}
/* main end */