@font-face{
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}
@font-face{
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face{
    font-family: 'Roboto';
    src: url('../fonts/Roboto-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}
::-moz-selection {
    color: #ffffff;
    background-color: #ff0000;
}
::selection {
    color: #ffffff;
    background-color: #ff0000;
}
body {
    margin: 0;
    font-family: 'Roboto';
}
html {
    scroll-behavior: smooth;
}
.search-field-wrapper{
    display: none;
    position: fixed;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: #000000;
    z-index: 1000;
}
.form-wrapper {
    position: relative;
    margin: auto;
    margin-top: 250px;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #ffffff;
    max-width: 1170px; 
    z-index: 1000;  
}
.form-search-head {
    width: 100%;
    opacity: 1;
}
.input-text-search {
    border: none;
    font-size: 17px;
    width: 95%;
    color: #ffffff;
    background-color: inherit;
    z-index: 1000;
}
.input-text-search:focus{
    outline: red;     
}
.btn-submit-form {
    width: 44px;
    height: 44px;
    border: none;
    background-color: inherit;
    cursor: pointer;   
    z-index: 1000;
}
.btn-submit-form:focus {
    outline: none;   
    z-index: 1000;
}
.close-serach-form {
    width: 44px;
    height: 44px;
    border: none;
    background-color: inherit;
    cursor: pointer;
    z-index: 1000;
}
.close-serach-form:focus {
    outline: none;
    z-index: 1000;
}
/* класс отлючения скрола */
.disableScroll{
    position: relative;
    overflow: hidden;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}
/* поиск end */

/* Кнопка прокрутки страници */
.scroll-button {
    display: none;
    position: fixed;
    top: 85%;
    right: 30px;
    z-index: 1000;
}
/* Header */
.header {
    /* position: sticky; */
    width: 100%;
    background-color: #000000;
    opacity: 0.85;
    height: 60px;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 1000;
} 
.search {
    background-color: #ff0000;
    stroke: #ffffff;
    margin-top: 14px;
    margin-bottom: 14px;
    margin-right: 14px;
    padding: 3px 4px;
    z-index: 1000;
}
.header-navigation {
    margin-right: 20%;
    margin-left: 20%;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
}
.nav-bar {
    display: flex;
    color: #ffffff;
    text-decoration: none;
    z-index: 1000;
}
.navigation-link {
    display: flex;
    align-items: center;
    text-align: center;
    z-index: 1000;
}
.navigation-link a{
    opacity: 1;
    font-size: 13px;
    color: #ffffff;
    text-decoration: none;
    padding: 20px;
    padding-bottom: 25px;
    transition: .2s linear;
    z-index: 1000;
}
.navigation-link a:hover {
    color: #ff0000;
    z-index: 1000;
}
.dropodwn-child {
    display: none;
    position: absolute;
    top: 60px;
    background-color: #000000;
    max-width: 200px;
    z-index: 1000;
}
.dropodwn-child a {
    cursor: pointer;
    color: #ffffff;
    padding: 20px;
    text-decoration: none;
    display: block;
    z-index: 10000;
}
.dropodwn-child a:hover{
    opacity: 1;
    color: #ffffff;
    background-color: #ff0000;
    z-index: 1000;
}
.navigation-link:hover .dropodwn-child {
    display: block;
    z-index: 1000;
}
.header-animation {
    -webkit-animation: header-animation 1s ease-in-out forwards;
    animation: header-animation 1s ease-in-out forwards;
    z-index: 1000;
}
@-webkit-keyframes header-animation {
    0% {
        top: -60px;
        z-index: 1000;
    }
    25% {
        top: -40px;
        z-index: 1000;
    }
    50%{
        top: -20px;
        z-index: 1000;
    }
    100% {
        top: 0;
        position: fixed;
        width: 100%;
        z-index: 1000;
    }
}
@keyframes header-animation {
    0% {
        top: -60px;
        z-index: 1000;
    }
    25% {
        top: -40px;
        z-index: 1000;
    }
    50%{
        top: -20px;
        z-index: 1000;
    }
    100% {
        top: 0;
        position: fixed;
        width: 100%;
        z-index: 1000;
    }
}
.search-field {
    opacity: 1;
    color: #ffffff;
    text-decoration: none;
    z-index: 1000;
}
.header::after{
    z-index: 1000;
} 
/* Footer */
footer{
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 100px;
    bottom: 0 !important;
    background-color: #111111;
    color: #fff;
}
.contact-information {
    margin-left: 20%;
    margin-right: 20%;
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-gap: 15px;
}
.requisites-title-line,
.short-information-title-line {
    color: #ff0000 !important;
    border-color: #ff0000 !important;
    width: 35px;
    margin-left: 0;
}
.requisites-text-line,
.short-information-list-line {
    color: #ff0000 !important;
    border-color: #ff0000 !important;
}
/* Not footer */
@media (max-width: 1540px) { 
    
    .navigation-link {
        width: 100%;
        height: 100%;
    }
    .navigation-link a{
        padding: 15px;
        padding-bottom: 20px;
    }
    .search {
        padding: 3px 3px;
        padding-bottom: 0px;
    }
    .contact-information{
        margin-left: 20%;
        grid-template-columns: repeat(3, 300px);
        grid-gap: 15px;
    }
    
}
@media (max-width: 992px) { 
    .navigation-link:nth-child(1),
    .navigation-link:nth-child(2),
    .navigation-link:nth-child(3),
    .navigation-link:nth-child(4),
    .navigation-link:nth-child(5),
    .navigation-link:nth-child(6),
    .navigation-link:nth-child(7) {
        display: none;
    }
    .search{
        background-color: inherit;
    }
}
@media (max-width: 768px) { 
    
    .contact-information{
        grid-template-columns: repeat(3, 150px);
        grid-gap: 15px;
    }
    

}
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 680px) {
    
    .search{
        margin-left: 5%;
    }
    .contact-information{
        grid-template-columns: 150px;
        grid-template-rows: repeat(3, 300px);
        grid-gap: 30px;
    }
}



