h1, h2 {
    letter-spacing: 0;
    font-size: 24px;
}
.intro{
    margin-top: -60px;
    height: 594.69px;
    background: url('../images/main_page.png');
}
.main-main-title-of-page{
    padding-top: 450px;
    margin-left: 20%;
    color: #ffffff;
    display: grid;
    grid-template-rows: 50px 150px;
    grid-template-columns: 230px;
}
.title-of-page{
    opacity: 0;
    margin-top: 0;
    text-transform: uppercase;
}
.know-more-link{
    display: block;
    margin-top: 20px;
    width: 131px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px;
    background-color: #ff0000;
    opacity: 0;
    transition: .2s linear;
}
.know-more-link:hover{
    background-color: #000000;
}
.video-container {
    margin-top: -60px;
    display: flex;
    align-content: center;
    justify-content: center;
} 
.container-info-contacts {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.about-us-text {
    margin-left: 40px;
    width: 600px
}
.contacts-info {
    align-self: center;
    padding-left: 20px;
    height: 476px;
    width: 324px;
    border: 2px solid;
    border-color: #ff0000;
}
.contacts-list__element {
    margin-top: 20px;
    width: 284px;
}
.about-us {
    display: block;
    width: 75px;
}
/* Подровнять линию */
.about-us-line {
    width: 42px;
    margin-left: 0;
    border-color: #ff0000;
}
.statistic {
    padding-top: 50px;
    padding-bottom: 30px;
    margin-top: 200px;
    background-color: #f9f9f9;
}
.statistic-rating{
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 30px;
}
.statistic-rating-counters {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.projects,
.years,
.customers {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.counter {
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
}
.counter > hr {
    width: 100%;
    border: .5px solid #000;
}
.projects > h3,
.years > h3,
.customers > h3 {
    font-size: 1rem;
}
.niches{
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
}
.occupied-niches {
    display: grid;
    grid-template-columns: repeat(3, 370px);
    grid-gap: 30px;
}
.infrastructure-design, 
.development-of-construction-documentation,
.implementation-of-investment-projects {
    text-align: center;
}
.niches-subheader {
    text-transform: uppercase;
    text-align: center;
}
.our-customers-and-partners{
    margin-top: 200px;
    background-color: #f9f9f9;
}
.customers-and-partners {
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 50px;
    padding-bottom: 100px;
}
.customers-and-partners>h2{
    width: 300px;
    margin-bottom: 50px;
    text-transform: uppercase;
}
.customers-and-partners>h2>hr {
    height: 2px;
    width: 42px;
    margin-left: 0;
    background-color: #ff0000;
}
.services{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;
}
.photo-and-services-list {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    grid-gap: 15px;
}
.services-list1 {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.services-list2 {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap
}


/* Новости */
.some-news {
    margin-top: 100px;
}
.main-title {
    margin-bottom: 50px;
}
.main-title > hr {
    width: 40px;
    margin-left: 0;
}
.news-articles {
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}
.news-article {
    width: 100%;
}
@media (max-width: 1793px) {
    /* .news-articles {
        flex-wrap: wrap; */
    /* } */
    .news-article {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }
}
@media (max-width: 1540px) { 
    .partnersImg {
        width: 1000px;
        height: auto;
    }
    
}
@media (max-width: 1300px){
    .occupied-niches{
        margin-left: 30px; 
        margin-right: 30px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .customers-and-partners {
        margin-left: 5%;
    }
    .photo-and-services-list{
        display: grid;
        grid-template-columns: repeat(2, 300px);
        grid-gap: 35px;
    }
}
@media (max-width: 1111px) {
    .statistic-rating-counters {
        flex-direction: column;
        justify-self: center;
        align-items: center;
    }
    .projects,
    .years,
    .customers {
        width: 150px;
        text-align: center;
    }
    .statistic-rating-info > p {
        text-align: center;
    }
}
@media (max-width: 1076px) {
    .partnersImg {
        width: 700px;
        padding-left: 10%;
    }
}
@media (max-width: 1019px) {

}
@media (max-width: 950px) {
    .partnersImg {
        width: 500px;
        padding-left: 15%;
    }
}
@media (max-width: 992px) {
    .container-info-contacts {
        flex-direction: column-reverse;
        align-items: center;
    }
    .about-us {
        margin: 0 auto;
    }
    .about-us-line {
        width: 100%;
    }
    .about-us-text {
        margin-bottom: 50px;
        margin-left: 0;
        text-align: center;
        width: 100%;
    }
}
@media (max-width: 680px) { 
    .partnersImg {
        padding-left: 0;
    }
    .video-container{
        display: none;
    }
    .photo-and-services-list{
        display: grid;
        grid-template-columns: 300px;
        grid-gap: 35px;
    }
    .occupied-niches{
        flex-direction: column;
    }
    .news-articles{
        flex-direction: column;
    }
    .title-and-selectors{
        flex-direction: column;
    }
    .title-and-line > hr{
        margin: auto;
    }
    .title-and-line {
        margin-bottom: 20px;
    }
    .some-news{
        margin-left: 15px;
    }
}
@media (max-width: 538px) {
    .partnersImg {
        width: 300px;
        padding-left: 10%;
    }
    .news-photo {
        width: 300px;
        height: auto;
    }
}
@media (max-width: 385px) {
    .partnersImg {
        padding-left: 0;
    }
    .container-info-contacts {
        margin-left: 10px;
    }
    .contacts-info {
        margin-left: 10px;
        width: 210px;
        height: auto;
    }
    .statistic-rating {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 15%;
        width: 210px;
        text-align: center;
    }
    .infrastructure-design, 
    .development-of-construction-documentation,
    .implementation-of-investment-projects {
        width: 210px;
        height: auto;
    }
    .implementation-photo, 
    .development-photo, 
    .infrastructure-photo {
        width: 210px;
        height: auto;
    }
    .niches {
        flex-direction: column;
    }
    .services {
        margin-left: 0;
    }
    .photo-and-services-list {
        grid-template-columns: 210px;
    }
    .news-photo {
        width: 210px;
        height: auto;
    }
    .projects {
        margin-left: 0;
    }

}