h1, h2 {
    letter-spacing: 0;
    font-size: 24px;
}
.intro{
    margin-top: -60px;
    height: 594.69px;
    background: url('../images/main_page.png');
}
.main-main-title-of-page{
    padding-top: 450px;
    margin-left: 20%;
    color: #ffffff;
    display: grid;
    grid-template-rows: 50px 150px;
    grid-template-columns: 230px;
}
.title-of-page{
    opacity: 0;
    margin-top: 0;
    text-transform: uppercase;
}
.know-more-link{
    display: block;
    margin-top: 20px;
    width: 131px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px;
    background-color: #ff0000;
    opacity: 0;
    transition: .2s linear;
}
.know-more-link:hover{
    background-color: #000000;
}
.video-container {
    margin-top: -60px;
    display: flex;
    align-content: center;
    justify-content: center;
} 
.container-info-contacts {
    display: grid;
    grid-template-columns: 300px 750px;
    grid-gap: 50px;
    margin-top: 100px;
    margin-left: 20%;
    margin-right: 20%;
}
.contacts-info {
    align-self: center;
    padding-left: 20px;
    height: 476px;
    width: 300px;
    border: 2px solid;
    border-color: #ff0000;
}
.contacts-list__element {
    margin-top: 20px;
}
.about-us {
    display: block;
    width: 75px;
}
/* Подровнять линию */
.about-us-line {
    width: 42px;
    margin-left: 0;
    border-color: #ff0000;
}
.statistic {
    padding-top: 50px;
    padding-bottom: 30px;
    margin-top: 200px;
    background-color: #f9f9f9;
}
.statistic-rating{
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 30px;
}
.statistic-rating-counters {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.projects,
.years,
.customers {
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
}
.projects > hr,
.years > hr,
.customers > hr {
    width: 100%;
    border: .5px solid #000;
}
.niches{
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
}
.occupied-niches {
    display: grid;
    grid-template-columns: repeat(3, 370px);
    grid-gap: 30px;
}
.niches-subheader {
    text-transform: uppercase;
    text-align: center;
}
.our-customers-and-partners{
    margin-top: 200px;
    background-color: #f9f9f9;
}
.customers-and-partners {
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 50px;
    padding-bottom: 100px;
}
.customers-and-partners>h2{
    width: 300px;
    margin-bottom: 50px;
    text-transform: uppercase;
}
.customers-and-partners>h2>hr {
    height: 2px;
    width: 42px;
    margin-left: 0;
    background-color: #ff0000;
}
.partners-images__wrapper {
    margin: 0 auto;
    width: 1000px;
}
.partners-images {
    display: grid;
    grid-template-columns: repeat(3, 270px);
    grid-gap: 100px;
}
.services{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;
}
.photo-and-services-list {
    display: grid;
    grid-template-columns: 500px, 500px;
    grid-gap: 15px;
}
.services-list1 {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.services-list2 {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap
}
/* projects-section */
.project-project {
    background-color: rgba(0,0,0,0.7);
    color: #ffffff;
    text-transform: uppercase;
}
.holden__underline {
    border-bottom: 1px solid;
    border-bottom-color: #ff0000;
}
.projects-section {
    margin-left: 20%;
    margin-right: 20%;
    
}
.all-photos, .roads, .buildings {
    padding-right: 20px;
    padding-left: 20px;
    border-right: 0.3px solid;
    border-right-color: #ffffff;
}
.buildings{
    border-right: none;
}
.child:hover {
    border-bottom-color: #ff0000;
}

.title-and-selectors {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.title {
    font-size: 17px;
}
.title-and-line > hr {
    margin-left: 0;
    width: 40px;
    border-color: #ff0000;
}

.portofoli-and-youTube {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}
.portfol__wrapper > hr {
    margin-left: 0;
    width: 40px;
    border-color: #ff0000;
}
.portfol { 
    font-size: 17px;
    margin-right: 300px;
    
}
.portfol-a{
    color: #ffffff;
    text-decoration: none;
}

/* Новости */
.some-news {
    margin-top: 100px;
    margin-right: 20%;
    margin-left: 20%;
}
.main-title {
    margin-bottom: 50px;
}
.main-title > hr {
    width: 40px;
    margin-left: 0;
}
.news-articles {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.news-article{
    width: 30%;
}
@media (max-width: 1540px) { 
    .container-info-contacts{
        margin-left: 15%;
        margin-right: 15%;
    }
    
}
@media (max-width: 1300px){
    .container-info-contacts{
        display: grid;
        grid-template-columns: 300px 550px;
        grid-gap: 50px;
        margin-top: 100px;
        margin-left: 5%;
    } 
    .occupied-niches{
        margin-left: 30px; 
        margin-right: 30px;
        display: flex;
        justify-content: space-around;
    }
    .customers-and-partners {
        margin-left: 5%;
    }
    .photo-and-services-list{
        display: grid;
        grid-template-columns: repeat(2, 300px);
        grid-gap: 35px;
    }
}
@media (max-width: 992px) { 
    .container-info-contacts{
        display: grid;
        grid-template-columns: 300px 550px;
        grid-gap: 50px;
        margin-top: 100px;  
    }  
    .portofoli-and-youTube{
        flex-direction: column;
        align-items: flex-start;
    }
    .youTube-logo{
        margin-top: 20px;
    }

}
@media (max-width: 768px) { 
    .partners-images{
        display: grid;
        grid-template-columns: repeat(2, 270px);
        grid-gap: 100px;
    }
    .container-info-contacts{
        display: grid;
        grid-template-columns: none;
        grid-template-rows: 300px 500px;
        grid-gap: 100px;
        margin-top: 100px;  
        margin-left: 100px;
        margin-right: 100px;
        justify-items: center;
    }  
}
@media (max-width: 680px) { 
    
    .video-container{
        display: none;
    }
    .container-info-contacts{
        display: grid;
        grid-template-columns: 300px ;
        grid-template-rows: 400px;
        grid-gap: 50px;
        margin-left: 40px;
        margin-top: 100px;
    }
    .partners-images{
        display: grid;
        grid-template-columns: 270px;
        grid-gap: 100px;
    }
    .photo-and-services-list{
        display: grid;
        grid-template-columns: 300px;
        grid-gap: 35px;
    }
    .occupied-niches{
        flex-direction: column;
    }
    .news-articles{
        flex-direction: column;
    }
    .news-article{
        width: 300px;
    }
    .title-and-selectors{
        flex-direction: column;
    }
    .title-and-line > hr{
        margin: auto;
    }
    .title-and-line {
        margin-bottom: 20px;
    }
    .some-news{
        margin-left: 15px;
    }
}