/* Not header */
.intro{
    margin-top: -60px;
    height: 400px;
    background: url('../images/dmusubg.jpg');
}
.main-main-title-of-page{
    margin-left: 20%;
    padding-top: 200px;
    color: #ffffff;
}
.title-of-page{
    margin-top: 0;
}
.subtitle{
    font-style: italic;
}
main {
    margin-top: 50px;
}
.new__wrapper{
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.new__url{
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    transition: 60ms linear;
}
.new__url:hover{
    color: #ff0000;
}
.article-and-aside{
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
}
.aside-block{
    margin-left: 40px;
}
.aside-block-title{
    margin-bottom: 30px;
    text-transform: uppercase;
}
.aside-block-title > hr {
    margin-top: 30px;
    border-color: #ff0000;
    width: 40px;
    margin-left: 0;
}
.aside-link {
    text-decoration: none;
    color: #000000;
}
.aside-link-block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    border-bottom: 0.1px solid rgba(4, 4, 4, 0.2);
}
.aside-link-block__img{
    margin-right: 10px;
}
@media (max-width: 1648px) {
    .article-and-aside {
        flex-wrap: wrap-reverse;
    }
}
@media (max-width: 1241px) {
    .article-and-aside{
        margin-left: 15%;
    }
}

@media (max-width: 1054px) {
    .article-and-aside{
        margin-left: 10%;
    }
}
@media (max-width: 1054px) {
    .news-block__img {
        width: 600px;
        height: auto;
    }
}

@media (max-width: 679px) {
    .news-block__img {
        width: 500px;
        height: auto;
    }
}

@media (max-width: 567px) {
    .news-block__img {
        width: 300px;
        height: auto;
    }
}
