/* Not header */
.intro{
    margin-top: -60px;
    height: 400px;
    background: url('../images/dmusubg.jpg');
}
.main-main-title-of-page{
    margin-left: 20%;
    padding-top: 200px;
    color: #ffffff;
}
.title-of-page{
    margin-top: 0;
}
.subtitle{
    font-style: italic;
}
main {
    margin-top: 50px;
}
.article-and-aside{
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
}
.news-block__title {
    text-transform: uppercase;
}
.news-block__subtitle {
    color: #ff0000;
    text-transform: uppercase;
}
.aside-block{
    margin-left: 40px;
}
.aside-block-title{
    margin-bottom: 30px;
}
.aside-block-title > hr {
    margin-top: 30px;
    border-color: #ff0000;
    width: 40px;
    margin-left: 0;
}
.aside-link {
    text-decoration: none;
    color: #000000;
}
.aside-link-block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    border-bottom: 0.1px solid rgba(4, 4, 4, 0.2);
}
.aside-link-block__img{
    margin-right: 10px;
}