@font-face{
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}
@font-face{
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face{
    font-family: 'Roboto';
    src: url('../fonts/Roboto-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: "Roboto";
    position: relative; /* перенести во все файлы */     
}
::selection {
    color: #ffffff;
    background-color: #ff0000;
}
/* стили для поисковой строки */
/* TODO убрать ненжные стили  */
.search-field-wrapper{
    display: none;
    position: fixed;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: #000000;
    opacity: 0.7;
    z-index: 100000;
}
.form-wrapper {
    position: relative;
    margin: auto;
    margin-top: 250px;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #ffffff;
    max-width: 1170px;   
}
.form-search-head {
    width: 100%;
}
.input-text-search {
    border: none;
    font-size: 17px;
    width: 95%;
    color: #ffffff;
    background-color: inherit;
}
.input-text-search:focus{
    outline: red;     
}
.btn-submit-form {
    width: 44px;
    height: 44px;
    border: none;
    background-color: inherit;
    cursor: pointer;   
}
.btn-submit-form:focus {
    outline: none;   
}
.close-serach-form {
    width: 44px;
    height: 44px;
    border: none;
    background-color: inherit;
    cursor: pointer;
   
}
.close-serach-form:focus {
    outline: none;
}
/* класс отлючения скрола */
.disableScroll{
    position: relative;
    overflow: hidden;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}
/* поиск end */

/* Кнопка прокрутки страници */
.scroll-button {
    display: none;
    position: fixed;
    top: 85%;
    right: 30px;
}
/* Header */
.header {
    position: static;
    content: '';
    background-color: #000000;
    opacity: 0.85;
    height: 60px;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 1000;
} 
.search {
    background-color: #ff0000;
    stroke: #ffffff;
    margin-top: 14px;
    margin-bottom: 14px;
    margin-right: 14px;
    padding: 3px 4px;
}
.header-navigation {
    margin-right: 20%;
    margin-left: 20%;
    display: flex;
    justify-content: space-between;
}
.nav-bar {
    display: flex;
    color: #ffffff;
    text-decoration: none;
}
.navigation-link {
    display: flex;
    align-items: center;
    text-align: center;
}
.navigation-link a{
    font-size: 13px;
    color: #ffffff;
    text-decoration: none;
    padding: 20px;
    padding-bottom: 25px;
    transition: .2s linear;
}
.navigation-link a:hover {
    color: #ff0000;
}
.dropodwn-child {
    display: none;
    position: absolute;
    top: 60px;
    background-color: #000000;
    max-width: 200px;
    z-index: 1000;
}
.dropodwn-child a {
    cursor: pointer;
    color: #ffffff;
    padding: 20px;
    text-decoration: none;
    display: block;
}
.dropodwn-child a:hover{
    opacity: 1;
    color: #ffffff;
    background-color: #ff0000;
}
.navigation-link:hover .dropodwn-child {
    display: block;
}
.header-animation {
    animation: header-animation 1s ease-in-out forwards;
}
@keyframes header-animation {
    0% {
        top: -60px;
    }
    25% {
        top: -40px;
    }
    50%{
        top: -20px;
    }
    100% {
        top: 0;
        position: sticky;
        z-index: 1000;
    }
}
.search-field {
    color: #ffffff;
    text-decoration: none;
}
/* Not header */
.main-title{
    text-transform: uppercase;
    margin-top: 150px;
    margin-left: 20%;
    margin-bottom: 150px;
}
.article-and-aside{
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
}
.news-block__title {
    text-transform: uppercase;
}
.news-block__subtitle {
    color: #ff0000;
    text-transform: uppercase;
}
.aside-block{
    margin-left: 40px;
}
.aside-block-title{
    margin-bottom: 30px;
}
.aside-block-title > hr {
    margin-top: 30px;
    border-color: #ff0000;
    width: 40px;
    margin-left: 0;
}
.aside-link {
    text-decoration: none;
    color: #000000;
}
.aside-link-block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    border-bottom: 0.1px solid rgba(4, 4, 4, 0.2);
}
.aside-link-block__img{
    margin-right: 10px;
}
/* Footer */
footer{
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 100px;
    margin-bottom: 0 !important;
    background-color: #111111;
    margin: 0;
    color: #fff;
}
.contact-information {
    margin-left: 20%;
    margin-right: 20%;
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-gap: 15px;
}
.requisites-title-line,
.short-information-title-line {
    color: #ff0000 !important;
    border-color: #ff0000 !important;
    width: 35px;
    margin-left: 0;
}
.requisites-text-line,
.short-information-list-line {
    color: #ff0000 !important;
    border-color: #ff0000 !important;
}
/* Not footer */