/* Not header */
.intro{
    margin-top: -60px;
    height: 400px;
    background: url('../images/dmusubg.jpg');
}
.main-main-title-of-page{
    margin-left: 20%;
    padding-top: 200px;
    color: #ffffff;
}
.title-of-page{
    margin-top: 0;
}
.subtitle{
    font-style: italic;
}
main{
    margin-top: 50px;
}
.list-of-projects {
    margin-left: 20%;
    margin-right: 20%;
}
.some-projects {
    display: grid;
    grid-template-rows: repeat(4, 313px);
    grid-template-columns: repeat(3, 400px);
    grid-gap: 30px;
}
.link-to-project {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project-image {
    transition: scale(1);
}
.project-title {
    text-transform: uppercase;
    color: #000000;
    transition: .2s linear;
}
.project-title:hover {
    color: #ff0000;
}
.project-image:hover {
    background-color: #ff0000;
    opacity: 0.75;
    z-index: 1;
}