.thanksgiving-letters {
    margin-top: 50px;
    margin-right: 20%;
}
.thanksgiving-letters-title {
    text-transform: uppercase;
    margin-bottom: 40px;
}
.letters__line {
    border-color: #ff0000;
}
.list-of-letters {
    width: 100%;
}
.first-line, .second-line {
    display: flex;
}
.display-center-letter-wrapper {
    position: fixed;
    top: 200px;
    left: 600px;
    z-index: 999;
    display: none;
}
.letter-wrapper1,
.letter-wrapper2,
.letter-wrapper3,
.letter-wrapper4,
.letter-wrapper5,
.letter-wrapper6,
.letter-wrapper7,
.letter-wrapper8 {
    margin-right: 20px;
}